.action {
  padding-top: 53px;
  padding-bottom: 25px;
  background-color: #dae6d4;
  font-family: 'Myriad Pro', sans-serif;
  color: #ffffff;

  .action__wrapper {
    width: 320px;
    height: 712px;
    margin: 0 auto;
    padding-top: 28px;
    background: url("../images/action-bg-320.png") no-repeat center;
  }

  .action__container {
    padding-left: 35px;
  }

  .action__title {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    text-transform: uppercase;
  }

  .action__description {
    width: 250px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    text-transform: uppercase;
    letter-spacing: -.3px;
    word-spacing: -1px;
  }

  .action__list {
    list-style: none;
  }

  .action__item {
    position: relative;
    margin-bottom: 12px;
    padding-left: 26px;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 16px;
      height: 21px;
      background: url("../images/action__item--result-320.png") no-repeat center;
      background-size: cover;
    }
  }

  .action__item--time {
    &::before {
      width: 18px;
      height: 17px;
      background: url("../images/action__item--time-320.png") no-repeat center;
      background-size: cover;
    }
  }

  .action__item--work {
    &::before {
      width: 18px;
      height: 21px;
      background: url("../images/action__item--work-320.png") no-repeat center;
      background-size: cover;
    }
  }

  .action__article {
    margin-top: 108px;
  }

  .action__subtitle {
    width: 300px;
    margin: 0 auto 18px;
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
  }
}

.action--red {
  height: 582px;
  margin-bottom: 182px;
  background-color: #e64622;

  .action__wrapper {
    background-image: url("../images/action--red-bg-320.png"), url("../images/action-bg-red-320.jpg");
    background-repeat: no-repeat;
    background-position: center bottom, center top;
  }
}

@media (min-width: $bigPhone) {
  .action {
    padding-top: 65px;
    padding-bottom: 16px;

    .action__wrapper {
      width: 457px;
      height: 896px;
      padding-top: 28px;
      background: url("../images/action-bg-480.png") no-repeat center;
      background-size: cover;
    }

    .action__container {
      padding-left: 88px;
    }

    .action__title {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 32px;
    }

    .action__description {
      width: 290px;
      margin-bottom: 32px;
      font-size: 24px;
      line-height: 33px;
    }

    .action__item {
      font-size: 16px;
    }

    .action__article {
      margin-top: 161px;
    }

    .action__subtitle {
      width: 350px;
      margin: 0 auto 45px;
      font-size: 18px;
    }
  }

  .action--red {
    height: 781px;
    margin-bottom: 173px;
    background-color: #e64622;

    .action__wrapper {
      background-image: url("../images/action--red-bg-480.png"), url("../images/action-bg-red-480.jpg");
      background-repeat: no-repeat, no-repeat;
      background-size: 457px 601px, 336px 386px;
      background-position: center bottom, center top;
    }
  }
}


@media (min-width: $tablet) {
  .action {
    height: 587px;
    padding-top: 0;
    padding-bottom: 0;

    .action__wrapper {
      position: relative;
      display: flex;
      width: 726px;
      height: 100%;
      padding-top: 101px;
      background: none;
      background-size: cover;
    }

    .action__container {
      width: 385px;
      height: 368px;
      padding-top: 50px;
      padding-left: 34px;
      background-color: #6db337;
    }

    .action__article {
      position: absolute;
      top: 15px;
      right: 0;
      width: 418px;
      height: 555px;
      margin-top: 0;
      padding-top: 137px;
      background: url("../images/action__article-bg-768.png") no-repeat center;
      background-size: cover;
      z-index: 2;
    }

    .action__subtitle {
      width: 350px;
      margin: 0 auto 26px;
    }
  }

  .action--red {
    height: 585px;
    margin-bottom: 0;

    .action__container {
      width: 385px;
      height: 368px;
      padding-top: 50px;
      padding-left: 34px;
      background: url("../images/action__container-red-768.jpg") no-repeat center;
    }

    .action__wrapper {
      background-image: none;
    }
  }
}

@media (min-width: $desktop) {
  .action {
    height: 489px;
    padding-top: 0;
    padding-bottom: 0;

    .action__wrapper {
      position: relative;
      display: flex;
      width: 940px;
      height: 100%;
      padding-top: 60px;
      background: none;
      background-size: cover;
    }

    .action__container {
      width: 571px;
      height: 400px;
      padding-top: 40px;
      padding-left: 60px;
      background-color: #6db337;
    }

    .action__title {
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 50.15px;
    }

    .action__description {
      width: 400px;
      margin-bottom: 40px;
      font-size: 30.97px;
      line-height: 120%;
    }

    .action__item {
      font-size: 20px;
      line-height: 120%;
      margin-bottom: 11px;
    }

    .action__article {
      position: absolute;
      top: -80px;
      right: -35px;
      width: 493px;
      height: 647px;
      margin-top: 0;
      padding-top: 162px;
      background: url("../images/action__article-bg-980.png") no-repeat center;
      background-size: cover;
      z-index: 2;
    }

    .action__subtitle {
      width: 380px;
      margin: 0 auto 67px;
      font-size: 18px;
    }
  }

  .action--red {
    height: 533px;
    background-color: #fff;
    background-image: url('../images/action--red-bg-980.png');
    background-repeat: no-repeat;
    background-position: center;

    .action__container {
      width: 571px;
      height: 400px;
      padding-top: 40px;
      padding-left: 60px;
      background: none;
    }

    .action__wrapper {
      background-image: none;
    }
  }
}

































