.contacts {
  padding-top: 60px;
  padding-bottom: 60px;

  .contacts__title {
    margin-bottom: 31px;
    font-family: 'PTSansBold', sans-serif;
    font-size: 22px;
    line-height: 120%;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
  }

  .map-code{
    position: relative;
    padding: 10px;
    margin-bottom: 30px;
    border: 2px solid #f26d7d;

    &:last-child {
      margin-bottom: 0;
    }
  }

  li.map-code span{
    position: absolute;
    top: -15px;
    left: 23px;
    background: #8CD148;
    z-index: 9;
    font-size: 16px;
    padding: 5px;
    font-family: 'PTSansRegular', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
  }

  .map-code .contactsMap{
    width: 266px;
    height: 345px;
    font-size: 14px;
    border: none;
    margin: 0 0 0 0 !important;
    padding: 0;
    overflow: visible;
  }

  .contactsMap .contbal{
    position: relative;
    margin-top: -2px;
    padding: 10px;
    border: 1px solid #EEEEEE;
    text-align: center;
  }

  .contactsMap .contbal b, .contactsMap .contbal strong{
    display:block;
    margin: 0 0 9px 0;
    font-family: 'PTSansBold', sans-serif;
    font-size: 14px;
  }
  .contactsMap .contbal p{
    margin:0 0 15px 0;
    font-family: 'PTSansRegular', sans-serif;
    font-size: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .contactsMap .contbal hr{
    text-align:center;
    border-top:1px solid #EEEEEE;
    margin:0 auto 15px auto;
    width:70%;
  }
}

@media (min-width: $bigPhone) {
  .contacts {
    padding-top: 44px;
    padding-bottom: 64px;

    .contacts__title {
      margin-bottom: 24px;
      font-size: 24px;
    }

    .map-code{
      width: 450px;
      padding: 15px;
      margin-bottom: 24px;
      border: 2px solid #f26d7d;

      &:last-child {
        margin-bottom: 0;
      }
    }

    li.map-code span{
      font-size: 18px;
    }

    .map-code .contactsMap{
      width: 417px;
      height: 345px;
    }
  }
}












