.footer {
  background: #e4ebf2;
  padding: 58px 0 65px;

  .footer-social__title {
    margin-bottom: 25px;
    font-family: 'PTSansBold', sans-serif;
    font-size: 14px;
    line-height: 120%;
    color: #666666;
    text-align: center;
  }

  .footer-social__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    list-style: none;
  }

  .footer-social__item {
    margin-right: 21px;

    &:last-child {
      margin-right: 0;
    }
  }

  .footer-social--link {
    position: relative;
    display: inline-block;
    width: 43px;
    height: 43px;
    border-radius: 15px;
    background-color: #ff9c43;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 11px;
      height: 17px;
      background: url("../images/footer-social__link--ok-320.png") no-repeat center;
      background-size: cover;
    }
  }

  .footer-social__link--vk {
    background-color: #6996c7;

    &::before {
      left: 15px;
      transform: translate(0, -50%);
      width: 14px;
      height: 17px;
      background: url("../images/footer-social__link--vk-320.png") no-repeat center;
      background-size: cover;
    }
  }

  .footer-social__link--yt {
    background-color: #ff4342;

    &::before {
      left: 13px;
      transform: translate(0, -50%);
      width: 17px;
      height: 19px;
      background: url("../images/footer-social__link--yt-320.png") no-repeat center;
      background-size: cover;
    }
  }

  .footer-social__link--inst {
    background-color: #9c6e4c;

    &::before {
      left: 12px;
      transform: translate(0, -50%);
      width: 20px;
      height: 20px;
      background: url("../images/footer-social__link--inst-320.png") no-repeat center;
      background-size: cover;
    }
  }

  .footer__menu-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--left {
      margin-bottom: 22px;
    }
  }

  .footer__menu-item {
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .footer__menu-link {
    font-family: 'PTSansRegular', sans-serif;
    font-size: 14px;
    line-height: 120%;
    color: #666666;
    text-decoration: none;
  }
}

@media (min-width: $bigPhone) {
  .footer {
    padding: 70px 0 54px;


    .footer-social__list {
      margin-bottom: 32px;
      list-style: none;
    }

    .footer-social__item {
      margin-right: 21px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: $desktop) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 260px;
    padding: 49px 0 0;

    .footer-social__title {
      font-size: 14px;
      margin-bottom: 23px;
    }

    .footer-social {
      margin-right: 119px;
    }

    .footer-social__list {
      width: 301px;
      justify-content: space-between;
      margin-bottom: 0;
      list-style: none;
    }

    .footer-social__item {
      margin-right: 0;
    }

    .footer-social--link {
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 22px;

      &::before {
        width: 14px;
        height: 24px;
        background: url("../images/footer-social__link--ok-980.png") no-repeat center;
      }
    }

    .footer-social__link--vk {

      &::before {
        left: 21px;
        transform: translate(0, -50%);
        width: 20px;
        height: 25px;
        background: url("../images/footer-social__link--vk-980.png") no-repeat center;
      }
    }

    .footer-social__link--yt {

      &::before {
        left: 19px;
        width: 21px;
        height: 23px;
        background: url("../images/footer-social__link--yt-320.png") no-repeat center;
        background-size: cover;
      }
    }

    .footer-social__link--inst {

      &::before {
        left: 18px;
        width: 25px;
        height: 25px;
        background: url("../images/footer-social__link--inst-320.png") no-repeat center;
        background-size: cover;
      }
    }

    .footer__menu-list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: self-start;
      padding-right: 50px;

      &--left {
        position: relative;
        margin-bottom: 0;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 1px;
          height: 145px;
          background-color: #cccccc;
        }
      }

      &--right {
        padding-left: 59px;
      }
    }

    .footer__menu-item {
      margin-bottom: 21px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
































