.knowledge-level {
  padding-top: 60px;
  background-color: #8eb3dd;

  .knowledge-level__title {
    margin-bottom: 14px;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    color: #ffffff;
    text-align: center;
  }
  
  .knowledge-level__description {
    width: 294px;
    margin-bottom: 22px;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    color: #ffffff;
    text-align: center;
  }
}

@media (min-width: $bigPhone) {
  .knowledge-level {
    padding-top: 65px;

    .knowledge-level__title {
      margin-bottom: 14px;
      font-size: 24px;
    }

    .knowledge-level__description {
      width: 446px;
      margin: 0 auto;
      margin-bottom: 22px;
    }
  }
}

@media (min-width: $tablet) {
  .knowledge-level {
    padding-top: 69px;

    .knowledge-level__title {
      font-size: 28.15px;
      line-height: 120%;
      margin-bottom: 18.09px;
    }

    .knowledge-level__description {
      width: 446px;
      margin: 0 auto;
      margin-bottom: 22px;
    }
  }
}

@media (min-width: $desktop) {
  .knowledge-level {
    height: 243px;
    padding-top: 57px;

    .knowledge-level__title {
      margin-bottom: 8px;
      font-size: 30.69px;
    }

    .knowledge-level__description {
      width: 820px;
      margin-bottom: 22px;
      font-size: 22px;
    }
  }
}