.mini-groups {
  position: relative;
  margin-top: 126px;
  padding-bottom: 60px;
  background: url("../images/mini-groups-bg-320.jpg") repeat-y center;
  background-size: cover;
  font-family: 'Myriad Pro', sans-serif;
  font-weight: 500;
  text-align: center;

  .mini-groups__wrapper {
    position: relative;
    width: 320px;
    margin: 0 auto;
  }

  .mini-groups__title {
    position: absolute;
    top: -92px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 289px;
    height: 62px;
    margin: 0 auto;
    background: url("../images/mini-groups__title-320.png") no-repeat center;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #ffffff;
  }

  .what-is {
    position: relative;
    width: 320px;
    height: 445px;
    background: url("../images/what-is-bg-320.png") no-repeat center;
    background-size: cover;

    &::before {
      content: "";
      position: absolute;
      top: -135px;
      left: 0;
      width: 227px;
      height: 200px;
      background: url("../images/mini-groups-icon-books-and-lapm.png") no-repeat center;
      background-size: cover;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -39px;
      right: 18px;
      width: 24px;
      height: 86px;
      background: url("../images/mini-groups-arrow-320.png") no-repeat center;
      background-size: cover;
      z-index: 2;
    }

    .what-is__title {
      width: 145px;
      padding-top: 29px;
      margin: 0 auto 15px;
      font-size: 19px;
      line-height: 23px;
      color: #ffffff;
      text-transform: uppercase;
    }

    ul {
      width: 290px;
      margin: 0 auto;
      list-style: none;

      &::before {
        content: "";
        position: absolute;
        top: -25px;
        right: 5px;
        width: 90px;
        height: 117px;
        background: url("../images/what-is__wrapper-icon-1-320.png") no-repeat center;
      }

      &::after {
        content: "";
        position: absolute;
        top: 247px;
        left: 8px;
        width: 111px;
        height: 141px;
        background: url("../images/what-is__wrapper-icon-2-320.png") no-repeat center;
      }
    }

    li {
      position: relative;
      width: 100%;
      margin-bottom: 15px;
      padding: 9px 5px 8px;
      border-radius: 4px;
      background-color: #ffffff;
      z-index: 2;
    }
  }

  .teacher {
    position: relative;
    width: 308px;
    min-height: 205px;
    margin: 0 auto 57px;
    background: url("../images/teacher-desk-320.png") no-repeat center;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 600;
    color: #ffffff;

    &::before {
      content: "";
      position: absolute;
      top: 52px;
      left: -4px;
      width: 95px;
      height: 197px;
      background: url("../images/teacher-320.png") no-repeat center;
      background-size: cover;
    }

    .teacher__title {
      padding-top: 30px;
      width: 156px;
      margin: 0 auto 10px;
      font-size: 20px;
      line-height: 120%;
      text-transform: uppercase;
    }

    ul {
      list-style: none;
    }

    li {
      position: relative;
      width: 214px;
      margin-left: 87px;
      padding-left: 37px;
      font-size: 12px;
      line-height: 18px;
      text-align: left;

      &:first-child {
        margin-bottom: 10px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 38px;
        height: 37px;
        background: url("../images/teacher--checkbox-320.png") no-repeat center;
        background-size: cover;
      }
    }
  }

  .students,
  .student {
    position: relative;
    width: 290px;
    margin: 0 auto;

    .students__title,
    .student__title {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 290px;
      height: 37px;
      margin: 0 auto;
      background: url("../images/students__title-320.png") no-repeat center;
      font-family: 'Myriad Pro', sans-serif;
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      text-transform: uppercase;
      color: #ffffff;
    }

    ul {
      margin-top: 19px;
      list-style: none;
    }

    li {
      margin-bottom: 18px;
      font-family: 'Myriad Pro', sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 120%;
      color: #555555;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .students {
    &::before {
      content: "";
      position: absolute;
      top: 190px;
      left: 0;
      width: 52px;
      height: 88px;
      background: url("../images/students-arrow-320.png") no-repeat center;
      background-size: cover;
    }

    &::after {
      content: "";
      display: block;
      width: 178px;
      height: 196px;
      margin: 29px auto 57px;
      background: url("../images/students-320.png") no-repeat center;
      background-size: cover;
    }
  }

  .student {
    &::before {
      content: "";
      position: absolute;
      top: 160px;
      right: 20px;
      transform: scaleX(-1);
      width: 52px;
      height: 88px;
      background: url("../images/students-arrow-320.png") no-repeat center;
      background-size: cover;
    }

    &::after {
      content: "";
      display: block;
      width: 161px;
      height: 137px;
      margin: 29px auto 0;
      background: url("../images/student-320.png") no-repeat center;
      background-size: cover;
    }
  }
}



































