.navigation {
  height: 115px;
  background: #dce6f0;

  .navigation__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90.62%;
    height: 100%;
  }

  .opening-hours {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 199px;
    height: 29px;
    margin-top: 18px;
    padding-left: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 29px;
      height: 29px;
      background: url("../images/opening-hours-ico-320.png");
    }
  }

  .opening-hours__title {
    font-family: 'PTSansBoldItalic', sans-serif;
    font-weight: normal;
    font-size: 12.11px;
    line-height: 15.42px;
    color: #ed1e24;
  }

  .opening-hours__description {
    font-family: 'PTSansItalic', sans-serif;
    font-size: 12.11px;
    line-height: 15.42px;
    color: #333333;
  }

  .opening-hours__description--red {
    font-family: 'PTSansBoldItalic', sans-serif;
    color: #ed1e24;
  }

  .navigation__button-check-in-a-course {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 199px;
    height: 33px;
    margin-top: 13px;
    border: none;
    background: #de5958;
    font-family: 'PTSansRegular', sans-serif;
    font-size: 15.86px;
    line-height: 120%;
    color: #ffffff;
    box-shadow: 1px 1px #c74746,
    2px 2px #c74746,
    3px 3px #c74746,
    4px 4px #c74746;
    cursor: pointer;
    outline: none;
  }

  .navigation__toggle-button {
    position: absolute;
    top: 20px;
    right: 0;
    width: 27px;
    height: 21px;
    border: none;
    background: transparent;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #c74746;
    }

    &::after {
      top: auto;
      bottom: 0;
      box-shadow: 0 -9px #c74746;
    }
  }
}

@media (min-width: $bigPhone) {
  .navigation {
    height: 76px;

    .navigation__wrapper {
      flex-direction: row;
      align-items: center;
      width: 93.75%;
      height: 100%;
    }

    .opening-hours {
      width: 192px;
      height: 26px;
      margin-top: 0;
      padding-left: 35px;

      &::before {
        width: 26px;
        height: 26px;
        background-size: cover;
      }
    }

    .opening-hours__title {
      font-size: 12px;
      line-height: 14px;
    }

    .opening-hours__description {
      font-family: 'PTSansItalic', sans-serif;
      font-size: 12px;
      line-height: 14px;
    }

    .navigation__button-check-in-a-course {
      width: 173px;
      height: 30px;
      margin-top: -5px;
      margin-left: 25px;
      font-family: 'PTSansRegular', sans-serif;
      font-size: 14.14px;
      box-shadow: 1px 1px #c74746,
      2px 2px #c74746,
      3px 3px #c74746;
    }

    .navigation__toggle-button {
      top: 50%;
      transform: translateY(-50%);
      width: 31px;
      height: 23px;

      &::after {
        box-shadow: 0 -10px #c74746;
      }
    }
  }
}

@media (min-width: $tablet) {
  .navigation {
    height: 105px;

    .navigation__wrapper {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 94.53%;
    }

    .opening-hours {
      width: 205px;
      height: 30px;
      margin-top: 14px;
      margin-bottom: 9px;
      padding-left: 35px;

      &::before {
        width: 25px;
        height: 25px;
      }
    }

    .opening-hours__title {
      margin-top: -5px;
      font-size: 13.07px;
      line-height: 12.12px;
    }

    .opening-hours__description {
      font-size: 13.07px;
      line-height: 12.12px;
    }

    .navigation__button-check-in-a-course {
      width: 195px;
      height: 34px;
      margin-top: 0;
      margin-left: 0;
      font-size: 14.68px;
      box-shadow: 1px 1px #c74746,
      2px 2px #c74746;
    }

    .navigation__toggle-button {
      display: none;
    }
  }
}

@media (min-width: $desktop) {
  .navigation {
    .navigation__wrapper {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 95.91%;
    }

    .opening-hours {
      width: 220px;
      height: 30px;
      margin-bottom: 12px;
      padding-left: 39px;

      &::before {
        width: 28px;
        height: 28px;
        background: url("../images/opening-hours-ico-768.png");
        background-size: cover;
      }
    }

    .opening-hours__title {
      margin-top: 0;
      font-size: 14px;
      line-height: 14px;
    }

    .opening-hours__description {
      font-size: 14px;
      line-height: 14px;
    }

    .navigation__button-check-in-a-course {
      width: 213px;
      height: 38px;
      font-size: 18px;
      box-shadow: 1px 1px #c74746,
      2px 2px #c74746,
      3px 3px #c74746;
      transition: transform .2s ease-in;

      &:hover,
      &:focus {
        transform: scale(1.1);
      }

      &:active {
        top: 3px;
        right: -3px;
        box-shadow: none;
      }
    }
  }
}






















































