.olympiads-bottom {
  position: relative;
  height: 787px;

  .olympiads-bottom__wrapper {
    width: 302px;
    height: 735px;
    margin: 0 auto;
    background: url("../images/olympiads__container__bg--320.png") no-repeat center;
  }

  .olympiads__container {
    width: 260px;
    margin: 0 auto;
    margin-left: 35px;
    padding-top: 53px;
    overflow: hidden;
  }

  .olympiads__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 624px;
    padding-left: 20px;
    list-style: none;
  }

  .olympiads__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 232px;
    height: 142px;
    margin-right: 28px;
    margin-bottom: 17px;
    background: url("../images/olympiads__item-320.png") no-repeat center;
    z-index: 10;

    &:nth-child(4n) {
      margin-bottom: 0;
    }
  }

  .olympiads__student-photo {
    position: relative;
    top: 1px;
    left: 1px;
    width: 88px;
    height: 88px;
    border-radius: 50%;
  }

  .olympiads__student-name {
    width: 90px;
    height: 42px;
    margin-top: 4px;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 14.68px;
    color: #ffffff;
    text-align: center;
  }

  .student-result {
    width: 130px;
    margin-top: 17px;
    margin-left: 5px;
    overflow-y: scroll;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    scrollbar-height: none;

    &::-webkit-scrollbar {
      width: 0 !important;
      height: 0 !important;
      display: none !important;
      background: transparent;
    }
  }

  .student-result p strong {
    display: inline-block;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 12.1px;
    color: #242424;
    letter-spacing: -.2px;
    padding-right: 15px;
  }

  .student-result p:first-child strong {
    width: 110px;
  }

  .student-result ul {
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.1px;
    color: #242424;
    list-style: none;

    &:last-child {
      letter-spacing: -.3px;
    }
  }

  .student-result li {
    position: relative;
    padding-left: 8px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      background-color: #242424;
      border-radius: 50%;
    }
  }

  .slider__buttons {
    position: absolute;
    top: 695px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 108px;
    margin: 0 auto;
  }

  .slider__button {
    width: 39px;
    height: 39px;
    background-color: #6eb33a;
    border: none;
    border-radius: 4px;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
  }

  .slider__button--left {
    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      content: '<';
    }
  }

  .slider__button--right {
    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      content: '>';
    }
  }
}

@media (min-width: $bigPhone) {
  .olympiads-bottom {
    height: 763px;

    .olympiads-bottom__wrapper {
      width: 480px;
      height: 720px;
      background: url("../images/olympiads__container__bg--480.png") no-repeat center;
      background-size: cover;
    }

    .olympiads__container {
      width: 460px;
      margin: 0 auto;
      padding-top: 46px;
    }

    .olympiads__list {
      height: 624px;
      padding-left: 0;
    }

    .olympiads__item {
      width: 221px;
      height: 135px;
      margin-right: 17px;
      margin-bottom: 20px;
      background: url("../images/olympiads__item-480.png") no-repeat center;
    }

    .olympiads__student-photo {
      width: 84px;
      height: 84px;
    }

    .olympiads__student-name {
      width: 85px;
      height: 42px;
      margin-top: 2px;
      font-size: 11px;
      line-height: 14px;
    }

    .student-result {
      margin-top: 17px;
      margin-left: 5px;
    }

    .student-result p strong {
      font-size: 9px;
      line-height: 11.54px;
    }

    .student-result p:first-child strong {
      width: 100px;
    }

    .student-result ul {
      font-size: 9px;
      line-height: 12px;
    }

    .slider__buttons {
      top: 680px;
    }
  }
}

@media (min-width: $tablet) {
  .olympiads-bottom {
    height: 977px;

    .olympiads-bottom__wrapper {
      width: 743px;
      height: 863px;
      background: url("../images/olympiads__container__bg--768.png") no-repeat center;
      background-size: cover;
    }

    .olympiads__container {
      width: 570px;
      margin-left: 104px;
      margin-top: 39px;
      padding-top: 70px;
    }

    .olympiads__list {
      height: 725px;
      padding-left: 20px;
    }

    .olympiads__item {
      width: 263px;
      height: 162px;
      margin-right: 23px;
      margin-bottom: 20px;
      background: url("../images/olympiads__item-768.png") no-repeat center;
    }

    .olympiads__student-photo {
      width: 100px;
      height: 100px;
    }

    .olympiads__student-name {
      width: 100px;
      height: 55px;
      margin-top: 2px;
      font-size: 13.17px;
      line-height: 16.77px;
    }

    .student-result {
      width: 136px;
      height: 148px;
      margin-top: 23px;
      margin-left: 0;
    }

    .student-result p strong {
      font-size: 11.06px;
      line-height: 13.82px;
    }

    .student-result p:first-child strong {
      width: 130px;
    }

    .student-result ul {
      font-size: 11.06px;
      line-height: 14.37px;
    }

    .slider__buttons {
      width: 144px;
      top: 810px;
    }

    .slider__button {
      padding-bottom: 3px;
      width: 52px;
      height: 52px;
      font-size: 30px;
      line-height: 70%;
    }
  }
}

@media (min-width: $desktop) {
  .olympiads-bottom {
    height: 1022px;
    padding-top: 30px;
    background-color: #fafbfa;

    .olympiads-bottom__wrapper {
      width: 1005px;
      height: 892px;
      margin-top: 43px;
      background: url("../images/olympiads__container__bg--980.png") no-repeat center;
      background-size: cover;
    }

    .olympiads__container {
      width: 630px;
      margin-left: 160px;
      margin-top: 36px;
      padding-top: 80px;
    }

    .olympiads__list {
      height: 760px;
    }

    .olympiads__item {
      align-content: flex-start;
      width: 283px;
      height: 182px;
      margin-right: 30px;
      margin-bottom: 10px;
      background: url("../images/olympiads__item-768.png") no-repeat center;
      background-size: 100%;

      &:nth-child(4n) {
        margin-bottom: 0;
      }
    }

    .olympiads__student-photo {
      top: 6px;
      left: 2px;
      width: 106px;
      height: 107px;
    }

    .olympiads__student-name {
      width: 110px;
      height: 60px;
      margin-top: 10px;
      font-size: 14px;
      line-height: 120%;
    }

    .student-result {
      width: 142px;
      height: 152px;
      margin-top: 23px;
      margin-left: 10px;
    }

    .student-result p strong {
      font-size: 13px;
      line-height: 120%;


    }

    .student-result ul {
      font-size: 12px;
      line-height: 120%;
    }

    .slider__buttons {
      top: 920px;
    }
  }
}