.teachers {
  .teachers__wrapper {
    padding-bottom: 60px;
    position: relative;
  }

  .teachers__slider {
    margin-bottom: 44px;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scrollbar-height: none;

    &::-webkit-scrollbar {
      width: 0 !important;
      height: 0;
      display: none !important;
      background: transparent;
    }
  }

  .teachers__title {
    margin-top: 16px;
    margin-bottom: 23px;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #e31e24;
    text-align: center;
  }

  .teachers__title--green {
    color: #6db337;
  }

  .teachers__list {
    display: flex;
    list-style: none;
  }

  .teachers__item {
    min-width: 145px;
  }

  .teachers__photo {
    display: block;
    width: 109px;
    height: 111px;
    margin: 0 auto 10px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #b1b1b0;
  }

  .teachers__name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: 10px;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #525252;
    text-transform: uppercase;
    text-align: center;
  }

  .teachers__button-to-more-about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 33px;
    margin: 0 auto;
    background-color: #6db337;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 13.89px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
  }

  .slider__button {
    position: absolute;
    top: 120px;
    left: -12px;
    width: 17px;
    height: 39px;
    border: none;
    background: url("../images/teachers__button.png") no-repeat center;
    background-size: cover;
    z-index: 10;

    &--right {
      left: auto;
      right: -12px;
      transform: rotate(180deg);
    }
  }

  /*Карточка с информацией о преподавателе*/

  .teacher-information__list {
    list-style: none;
  }

  .teacher-item {
    width: 290px;
    margin: 0 auto;
    border: 3px solid #b7b7b7;
    border-radius: 10px;
  }

  .short-information {
    &::after {
      content: "";
      display: block;
      width: 234px;
      height: 1px;
      margin: 0 auto;
      background-color: #cccccc;
    }
  }

  .teacher-item__photo {
    display: block;
    width: 166px;
    height: 166px;
    margin: 28px auto 23px;
    border-radius: 50%;
    border: 2px solid #b7b7b7;
    object-fit: cover;
  }

  .short-information__name {
    margin-bottom: 18px;
    font-family: 'PTSansBold', sans-serif;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
  }

  .short-information__table {
    margin-bottom: 20px;
  }

  .short-information__table th {
    margin: 0;
    padding: 0;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #4f4f4f;
    text-align: center;
  }

  .short-information__subject {
    width: 125px;
    border-right: 1px solid #959595;
    font-style: italic;
  }

  .short-information__education {
    width: 160px;
    letter-spacing: -.2px;
  }

  .short-information__button-witch-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 30px;
    margin: 0 auto 26px;
    background-color: #ed1e24;
    font-family: 'PTSansBold', sans-serif;
    font-size: 14px;
    color: #ffffff;
    border: none;
  }

  /*секция с подробной информацией в каточке*/

  .detailed-information {
    padding-top: 20px;
    padding-bottom: 35px;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #4f4f4f;
    text-align: center;

    & ul {
      list-style: none;
      margin-top: 35px;
      margin-bottom: 23px;
    }

    & strong {
      font-weight: 400;
    }
  }

  .detailed-information__name {
    display: none;
  }

  .detailed-information__location,
  .detailed-information__price {
    margin-bottom: 23px;
  }

  .detailed-information__achievements {
    position: relative;
    padding-top: 48px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 260px;
      height: 3px;
      background-color: #ee292e;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 12px;
      width: 26.56px;
      height: 25.06px;
      border: 3px solid #ee292e;
      background: url("../images/detailed-information__achievements--ico.png") no-repeat center;
    }

    & p {
      margin-bottom: 22px;
    }
  }

  .detailed-information__link {
    display: block;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    color: #e31e24;
  }

  .detailed-information__link--to-more-about {
    margin-bottom: 21px;
  }
}

@media (min-width: 480px) {
  .teachers {
    .teachers__wrapper {
      padding-bottom: 52px;
    }

    .teachers__slider {
      margin-bottom: 33px;
    }

    .teachers__title {
      margin-bottom: 23px;
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
    }

    .teachers__item {
      min-width: 150px;
    }

    .teachers__photo {
      width: 120px;
      height: 122px;
      margin: 0 auto 15px;
    }

    .slider__button {
      top: 95px;
    }

    /*Карточка с информацией о преподавателе*/

    .teacher-item {
      width: 450px;
    }

    .short-information {
      position: relative;
      min-height: 228px;
      padding: 20px 0 20px 202px;

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 411px;
      }
    }

    .teacher-item__photo {
      position: absolute;
      top: 18px;
      left: 12px;
      display: block;
      width: 192px;
      height: 194px;
      margin: 0;
    }

    .short-information__name {
      margin-bottom: 10px;
    }

    .short-information__table {
      margin: 0 auto;
      margin-bottom: 20px;
    }

    .short-information__table tr {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .short-information__table th {
      padding-bottom: 13px;

      &:last-child {
        padding-bottom: 0;
      }
    }

    .short-information__subject {
      width: 180px;
      border-right: none;
      border-bottom: 1px solid #959595;
    }

    .short-information__education {
      width: 160px;
      letter-spacing: -.2px;
    }

    .short-information__button-witch-video {
      margin: 0 auto;
    }

    /*секция с подробной информацией в каточке*/

    .detailed-information {
      position: relative;
      padding: 20px 5px 25px;
      line-height: 20px;

      & ul {
        margin-top: 16px;
        margin-bottom: 23px;
      }
    }

    .detailed-information__achievements {
      margin-bottom: 37px;

      &::before {
        width: 413px;
      }

      &::after {
        left: 10px;
        width: 29px;
        height: 27px;
      }

      & p {
        margin-bottom: 22px;
      }
    }

    .detailed-information__link {
      position: absolute;
      bottom: 27px
    }

    .detailed-information__link--to-more-about {
      left: 20px;
      margin-bottom: 0;
    }
    
    .detailed-information__link--to-reviews {
      right: 35px;
    }
  }
}



































