.as-well-as {
  position: relative;
  padding-top: 10px;
  padding-bottom: 65px;
  background: #f0f8f3;

  &::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 24px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid #bfbfc1;
    background-color: #ebebeb;
  }

  .as-well-as__title {
    margin-bottom: 66px;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #70b437;
    text-transform: uppercase;
    text-align: center;
  }

  .as-well-as__article--convenient-place {
    position: relative;
    margin-bottom: 85px;

    &::after {
      content: "";
      position: absolute;
      bottom: -61px;
      left: 50%;
      transform: translateX(-50%);
      width: 4px;
      height: 61px;
      background: url("./images/as-well-as-line-320.png") no-repeat center;
    }

    .as-well-as__subtitle {
      padding: 0 30px;
    }
  }

  .as-well-as__subtitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 289px;
    height: 67px;
    margin: 0 auto;
    background: url("./images/as-well-as__subtitle-convenient-place-320.png") no-repeat center;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      width: 51px;
      height: 51px;
      background: url("./images/convenient-place-icon-320.png") no-repeat center;
    }
  }

  .as-well-as__list {
    width: 275px;
    margin: 0 auto;
    padding: 19px 0;
    list-style: none;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #edefee;
    border-top: none;
  }

  .as-well-as__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 236px;
    margin: 0 auto;
    margin-bottom: 13px;
    padding: 13px 3px;
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19.23px;
    color: #555555;
    text-align: center;
    background-image: linear-gradient(#ffffff, #f7f7f7, #ffffff);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .as-well-as__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 273px;
    height: 142px;
    margin: 0 auto;
    background-color: #70b437;
    border-radius: 4px;

    &--jpg {
      display: block;
      width: 259px;
      height: 131px;
      border-radius: 4px;
      object-fit: cover;
    }
  }

  .as-well-as__article--many-options {
    position: relative;
    margin-bottom: 98px;

    &::after {
      content: "";
      position: absolute;
      bottom: -61px;
      left: 50%;
      transform: translateX(-50%);
      width: 4px;
      height: 61px;
      background: url("./images/as-well-as-line-320.png") no-repeat center;
    }

    .as-well-as__subtitle {
      width: 291px;
      height: 67px;
      background: url("./images/as-well-as__subtitle-many-options-320.png") no-repeat center;

      &::before {
        background: url("./images/many-options-icon-320.png") no-repeat center;
      }
    }
  }

  .as-well-as__article--stocks {
    position: relative;
    margin-bottom: 94px;

    &::after {
      content: "";
      position: absolute;
      bottom: -61px;
      left: 50%;
      transform: translateX(-50%);
      width: 4px;
      height: 61px;
      background: url("./images/as-well-as-line-320.png") no-repeat center;
    }

    .as-well-as__subtitle {
      width: 290px;
      height: 45px;
      background: url("./images/as-well-as__subtitle-stocks-320.png") no-repeat center;

      &::before {
        background: url("./images/stocks-icon-320.png") no-repeat center;
      }
    }

    .as-well-as__image {
      width: 290px;
      height: 232px;
      background-color: #d9452c;

      &--jpg {
        width: 274px;
        height: 219px;
      }
    }
  }

  .as-well-as__article--reports {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -61px;
      left: 50%;
      transform: translateX(-50%);
      width: 4px;
      height: 61px;
      background: url("./images/as-well-as-line-320.png") no-repeat center;
    }

    .as-well-as__subtitle {
      width: 287px;
      height: 51px;
      background: url("./images/as-well-as__subtitle-reports-320.png") no-repeat center;

      &::before {
        left: 146px;
        background: url("./images/reports-icon-320.png") no-repeat center;
      }
    }

    .as-well-as__image {
      width: 290px;
      height: 137px;
      background-color: #596c8c;

      &--jpg {
        width: 274px;
        height: 125px;
      }
    }
  }
}

@media (min-width: $bigPhone) {
  .as-well-as {
    padding-top: 10px;
    padding-bottom: 55px;

    .as-well-as__title {
      margin-bottom: 85px;
    }

    .as-well-as__article--convenient-place {
      margin-bottom: 85px;

      .as-well-as__subtitle {
        padding: 0;
      }
    }

    .as-well-as__subtitle {
      width: 449px;
      height: 49px;
      background: url("./images/as-well-as__subtitle-convenient-place-480.png") no-repeat center;
    }

    .as-well-as__list {
      width: 433px;
      padding: 10px 0 14px;
    }

    .as-well-as__item {
      width: 290px;
      margin-bottom: 13px;
      padding: 13px 5px;
      font-size: 15px;
      line-height: 19.23px;
    }

    .as-well-as__image {
      width: 334px;
      height: 175px;

      &--jpg {
        width: 320px;
        height: 162px;
      }
    }

    .as-well-as__article--many-options {
      margin-bottom: 77px;

      .as-well-as__subtitle {
        width: 450px;
        height: 50px;
        background: url("./images/as-well-as__subtitle-many-options-480.png") no-repeat center;
      }

      .as-well-as__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .as-well-as__item {
        width: 196px;
        margin: 0;
        margin-bottom: 20px;

        &:nth-child(1) {
          margin-right: 15px;
        }
        &:nth-child(3) {
          margin-right: 15px;
        }
      }
    }

    .as-well-as__article--stocks {
      .as-well-as__subtitle {
        width: 450px;
        height: 45px;
        background: url("./images/as-well-as__subtitle-stocks-480.png") no-repeat center;
      }

      .as-well-as__image {
        width: 332px;
        height: 266px;
        background-color: #d9452c;

        &--jpg {
          width: 315px;
          height: 252px;
        }
      }
    }

    .as-well-as__article--reports {
      position: relative;

      .as-well-as__subtitle {
        width: 457px;
        height: 49px;
        background: url("./images/as-well-as__subtitle-reports-480.png") no-repeat center;

        &::before {
          left: 50%;
          transform: translateX(-57%);
        }
      }

      .as-well-as__image {
        width: 450px;
        height: 214px;
        background-color: #596c8c;

        &--jpg {
          width: 428px;
          height: 192px;
        }
      }
    }
  }
}

@media (min-width: $tablet) {
  .as-well-as {
    padding-top: 14px;
    padding-bottom: 55px;

    &::after {
      bottom: -15px;
      width: 31px;
      height: 31px;
    }

    .as-well-as__title {
      margin-bottom: 85px;
      font-size: 28.15px;
    }

    .as-well-as__article--convenient-place {
      margin-bottom: 88px;

      .as-well-as__subtitle::before {
        top: -50px;
        width: 63px;
        height: 63px;
        background: url("./images/convenient-place-icon-768.png") no-repeat center;
        background-size: cover;
      }
    }

    .as-well-as__subtitle {
      width: 608px;
      height: 61px;
      background: url("./images/as-well-as__subtitle-convenient-place-768.png") no-repeat center;
      font-size: 24px;
    }

    .as-well-as__list {
      width: 603px;
      padding: 12px 0 20px;
    }

    .as-well-as__item {
      width: 361px;
      padding: 16px 10px;
      font-size: 18.09px;
      line-height: 24.13px;
    }

    .as-well-as__image {
      width: 603px;
      height: 232px;

      &--jpg {
        width: 575px;
        height: 208px;
      }
    }

    .as-well-as__article--many-options {
      margin-bottom: 95px;

      .as-well-as__subtitle {
        width: 606px;
        height: 62px;
        background: url("./images/as-well-as__subtitle-many-options-768.png") no-repeat center;

        &::before {
          top: -50px;
          width: 63px;
          height: 63px;
          background: url("./images/many-options-icon-768.png") no-repeat center;
          background-size: cover;
        }
      }

      .as-well-as__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px;
      }

      .as-well-as__item {
        width: 244px;
        margin-bottom: 35px;
      }
    }

    .as-well-as__article--stocks {
      .as-well-as__subtitle {
        width: 603px;
        height: 56px;
        background: url("./images/as-well-as__subtitle-stocks-768.png") no-repeat center;

        &::before {
          top: -50px;
          width: 63px;
          height: 63px;
          background: url("./images/stocks-icon-768.png") no-repeat center;
          background-size: cover;
        }
      }

      .as-well-as__image {
        width: 410px;
        height: 332px;

        &--jpg {
          width: 390px;
          height: 313px;
        }
      }
    }

    .as-well-as__article--reports {
      .as-well-as__subtitle {
        width: 568px;
        height: 61px;
        background: url("./images/as-well-as__subtitle-reports-768.png") no-repeat center;

        &::before {
          top: -50px;
          left: 50.9%;
          transform: translateX(-57%);
          width: 63px;
          height: 63px;
          background: url("./images/reports-icon-768.png") no-repeat center;
        }
      }

      .as-well-as__image {
        width: 557px;
        height: 266px;

        &--jpg {
          width: 532px;
          height: 239px;
        }
      }
    }
  }
}

@media (min-width: $desktop) {
  .as-well-as {
    padding-top: 14px;
    padding-bottom: 130px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 45px;
      height: 251px;
      background: url("./images/as-well-as-line-980.png") no-repeat center;
    }

    &::after {
      bottom: -22px;
      left: 49.9%;
      transform: translateX(-50%);
      width: 44px;
      height: 44px;
      border: 4px solid #bfbfc1;
    }

    .as-well-as__wrapper {
      width: 980px;
    }

    .as-well-as__title {
      margin-bottom: 85px;
      font-size: 28.15px;
    }

    .as-well-as__article--convenient-place {
      position: relative;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      max-height: 330px;
      margin-bottom: 30px;

      &::after {
        content: "";
        position: absolute;
        top: 57px;
        left: 469px;
        transform: none;
        width: 45px;
        height: 251px;
        background: url("./images/as-well-as-line-980.png") no-repeat center;
      }

      .as-well-as__subtitle {
        width: 491px;
        height: 47px;
        margin: 0;
        background: url("./images/as-well-as__subtitle-convenient-place-980.png") no-repeat center;
        font-size: 20px;

        &::before {
          top: 50%;
          left: auto;
          right: -35px;
          transform: translateY(-50%);
          width: 71px;
          height: 71px;
          background: url("./images/convenient-place-ico-980.png") no-repeat center;
          z-index: 2;
        }
      }

      .as-well-as__list {
        width: 469px;
        margin: 0 0 0 20px;
        padding: 9px 0 8px;
        border-radius: 10px;
      }

      .as-well-as__item {
        width: 358px;
        margin-bottom: 5px;
        padding: 12px;
        border: 2px solid #d1d1d1;
        font-size: 16px;
        line-height: 120%;
      }

      .as-well-as__image {
        position: absolute;
        top: 0;
        right: 20px;
        width: 470px;
        height: 246px;
        border-radius: 10px;
        margin: 0;
        z-index: 1;

        &--jpg {
          width: 448px;
          height: 225px;
          border-radius: 7px;
        }
      }
    }

    .as-well-as__article--many-options {
      position: relative;
      margin-bottom: 36px;
      z-index: 3;

      &::after {
        content: "";
        position: absolute;
        bottom: -250px;
        left: 50%;
        transform: translateX(-50%);
        width: 45px;
        height: 251px;
        background: url("./images/as-well-as-line-980.png") no-repeat center;
      }

      .as-well-as__subtitle {
        width: 980px;
        height: 46px;
        font-size: 20px;
        background: url("./images/as-well-as__subtitle-many-options-980.png") no-repeat center;

        &::before {
          top: auto;
          bottom: -94px;
          width: 70px;
          height: 69px;
          background: url("./images/many-options-icon-980.png") no-repeat center;
          background-size: cover;
        }
      }

      .as-well-as__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 940px;
        height: 205px;
        padding-top: 20px;
        border-radius: 7px;
      }

      .as-well-as__item {
        width: 283px;
        height: 75px;
        margin: 0 auto;
        padding: 10px;
        border: 2px solid #d1d1d1;
        font-size: 16px;
        line-height: 120%;

        &:nth-child(1) {
          margin: 0 auto;
        }
        &:nth-child(3) {
          margin: 0 auto;
        }

        &:nth-child(2),
        &:nth-child(5) {
          margin-top: 12px;
        }

        &:nth-child(3n) {
          margin-top: 87px;
        }
      }
    }

    .as-well-as__article--stocks {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      max-height: 376px;
      margin-bottom: 38px;

      &::after {
        content: "";
        position: absolute;
        bottom: -250px;
        left: 50%;
        transform: translateX(-50%);
        width: 45px;
        height: 251px;
        background: url("./images/as-well-as-line-980.png") no-repeat center;
      }

      .as-well-as__subtitle {
        width: 492px;
        height: 47px;
        margin: 0;
        margin-left: auto;
        background: url("./images/as-well-as__subtitle-stocks-980.png") no-repeat center;
        font-size: 20px;

        &::before {
          top: 50%;
          right: auto;
          left: -35px;
          transform: translateY(-50%);
          width: 71px;
          height: 71px;
          background: url("./images/stocks-ico-980.png") no-repeat center;
          z-index: 2;
        }
      }

      .as-well-as__list {
        width: 470px;
        margin: 0 22px 0 auto;
        padding: 20px 0 15px;
        border-radius: 7px;
      }

      .as-well-as__item {
        width: 379px;
        margin-bottom: 10px;
        padding: 12px;
        border: 2px solid #d1d1d1;
        font-size: 16px;
        line-height: 120%;
      }

      .as-well-as__image {
        position: absolute;
        top: 0;
        left: 20px;
        width: 470px;
        height: 371px;
        border-radius: 10px;

        &--jpg {
          width: 445px;
          height: 350px;
          border-radius: 10px;
        }
      }
    }

    .as-well-as__article--reports {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start;
      max-height: 330px;
      z-index: 4;

      &::after {
       display: none;
      }

      .as-well-as__subtitle {
        width: 489px;
        height: 48px;
        margin: 0;
        background: url("./images/as-well-as__subtitle-reports-980.png") no-repeat center;
        font-size: 20px;

        &::before {
          top: 50%;
          left: auto;
          right: -35px;
          transform: translateY(-50%);
          width: 70px;
          height: 69px;
          background: url("./images/reports-ico-980.png") no-repeat center;
          z-index: 1;
        }
      }

      .as-well-as__list {
        width: 469px;
        margin: 0 0 0 20px;
        padding: 18px 0 18px;
        border-radius: 10px;
      }

      .as-well-as__item {
        width: 358px;
        margin-bottom: 6px;
        padding: 12px;
        border: 2px solid #d1d1d1;
        font-size: 16px;
        line-height: 120%;
      }

      .as-well-as__image {
        position: absolute;
        top: 0;
        right: 21px;
        width: 470px;
        height: 225px;
        border-radius: 10px;

        &--jpg {
          width: 448px;
          height: 202px;
          border-radius: 7px;
        }
      }
    }
  }
}





















