section#asWellAs.as-well-as
    div(class='as-well-as__wrapper wrapper')
        h2(class='as-well-as__title') А также...
        article(class='as-well-as__article as-well-as__article--convenient-place')
            h3(class='as-well-as__subtitle') Удобное место проведения занятий
            ul(class='as-well-as__list')
                li(class='as-well-as__item')
                    | Центр имеет специально оборудованные классы
                li(class='as-well-as__item')
                    | Удобное расположение офисов - 3 минуты ходьбы до
                    | остановки:Центр(Соколова/Красноармейская), Западный(Стачки) и Северный (Квадро)
            div(class='as-well-as__image')
                img(src='images/convenient-place.jpg' alt='фотография занятий в классе' class='as-well-as__image--jpg')
        article(class='as-well-as__article as-well-as__article--many-options')
            h3(class='as-well-as__subtitle') Много дополнительных бесплатных опций
            ul(class='as-well-as__list')
                li(class='as-well-as__item')
                    | Бесплатная проверка всех работ после ЕГЭ, помощь и сопровождение на апелляции
                li(class='as-well-as__item')
                    | Бесплатная подготовка к олимпиадам для одаренных детей
                li(class='as-well-as__item')
                    | Все контрольные проводятся вне занятий, а преподаватели бесплатно их проверяют
                li(class='as-well-as__item')
                    | Бесплатная помощь при выборе ВУЗа, помощь в разработке стратегии поступления
                li(class='as-well-as__item')
                    | До 7 бесплатных репетиций экзамена для наших учеников: под камерами, с заполнением бланков
        article(class='as-well-as__article as-well-as__article--stocks')
            h3(class='as-well-as__subtitle') Акции
            ul(class='as-well-as__list')
                li(class='as-well-as__item')
                    | Пригласи друга - получи занятие в подарок.
                li(class='as-well-as__item')
                    | Запишись на 2 предмета, получи автоматическую точилку в подарок
                li(class='as-well-as__item')
                    | Запишись на 3 предмета, получи профориентацию в подарок
                li(class='as-well-as__item')
                    | Приведи хорошего преподавателя - получи 5000 рублей
            div(class='as-well-as__image')
                img(src='images/stocks.jpg' alt='фотография занятий в классе' class='as-well-as__image--jpg')
        article(class='as-well-as__article as-well-as__article--reports')
            h3(class='as-well-as__subtitle') Отчеты перед родителями
            ul(class='as-well-as__list')
                li(class='as-well-as__item')
                    | Регулярно отправляем отчет об успеваемости ученика родителям
                li(class='as-well-as__item')
                    | Родители всегда в курсе результатов и хода обучения
            div(class='as-well-as__image')
                img(src='images/reports.jpg' alt='фотография занятий в классе' class='as-well-as__image--jpg')
