section#contacts.contacts
    div(class='contacts__wrapper wrapper')
        h2(class='contacts__title') Контакты
        ul
            li.map-code
                span филиал «Центр»
                #map2.contactsMap
            li.map-code
                span филиал «Западный»
                #map1.contactsMap
            li.map-code
                span филиал «Северный»
                #map3.contactsMap