section.facts
    div(class='facts__wrapper')
        h2(class='facts__title') Факты о "Репититор Дона"
        ul(class='facts__list')
            li(class='facts__item')
                span(class='facts__value') 400
                p(class='facts__description')
                    |  400 учеников
                    |  занимались в Репетитор
                    |  Дона в 2017 году
            li(class='facts__item')
                span(class='facts__value') 30
                p(class='facts__description') 30
                    br(class='facts__br--320')
                    |  преподавателей
            li(class='facts__item')
                span(class='facts__value') 400
                p(class='facts__description') от 400 рублей
                    br(class='facts__br--320')
                    |  в час (60 минут)
                    br(class='facts__br--320')
                    |  стоимость занятий
            li(class='facts__item')
                span(class='facts__value') 100
                p(class='facts__description') 100 баллов - максимальный
                    br(class='facts__br--320')
                    |  результат наших учеников
                    br(class='facts__br--320')
                    |  уже несколько лет подряд!
            li(class='facts__item')
                span(class='facts__value') 69,7
                p(class='facts__description') Средний балл
                    br(class='facts__br--320')
                    |  наших учеников по физике в 2019 году -
                    |  69.7,
                    br(class='facts__br--320')
                    |  в Ростовской области
                    br(class='facts__br--320')
                    |  он был всего 50,29
            li(class='facts__item')
                span(class='facts__value') 300
                p(class='facts__description') Более 300
                    br(class='facts__br--320')
                    |  реальных
                    br(class='facts__br--320')
                    |  отзывов
