footer.footer
    div(class='footer__social footer-social')
        h3(class='footer-social__title') Мы в соцсетях
        ul(class='footer-social__list')
            li(class='footer-social__item')
                a(class='footer-social--link footer-social__link--ok' target='_blank' href='https://ok.ru/group/51604463222879' aria-label='Мы в Однокласниках')
            li(class='footer-social__item')
                a(class='footer-social--link footer-social__link--vk' target='_blank' href='https://vk.com/repetitor_dona_ru' aria-label='Мы Вконтакте')
            li(class='footer-social__item')
                a(class='footer-social--link footer-social__link--yt' target='_blank' href='https://www.youtube.com/channel/UCIt9saNis7sWyxtw8VKJY9g' aria-label='Мы на Ютьюб')
            li(class='footer-social__item')
                a(class='footer-social--link footer-social__link--inst' target='_blank' href='https://www.instagram.com/repetitor.dona/?igshid=bfql59gwjosz' aria-label='Мы в Инстаграмм')
    ul(class='footer__menu-list footer__menu-list--left')
        li(class='footer__menu-item')
            a(class='footer__menu-link' target='_blank' href='http://repetitor-dona.ru/prepodavateli-i-stoimost/')
                | Преподаватели
                | и стоимость
        li(class='footer__menu-item')
            a(class='footer__menu-link' target='_blank' href='http://repetitor-dona.ru/otzyvy-i-rezultaty/')
                | Отзывы и
                | результаты
        li(class='footer__menu-item')
            a(class='footer__menu-link' target='_blank' href='http://repetitor-dona.ru/kursy-ege/') Курсы ЕГЭ
        li(class='footer__menu-item')
            a(class='footer__menu-link' target='_blank' href='http://repetitor-dona.ru/kursy-gia-oge/') Курсы ГИА (ОГЭ)
        li(class='footer__menu-item')
            a(class='footer__menu-link' target='_blank' href='http://repetitor-dona.ru/vakansii/') Вакансии
    ul(class='footer__menu-list footer__menu-list--right')
        li(class='footer__menu-item')
            a(class='footer__menu-link' target='_blank' href='http://repetitor-dona.ru/o-zanyatiyah/') О занятиях
        li(class='footer__menu-item')
            a(class='footer__menu-link' target='_blank' href='http://repetitor-dona.ru/mini-gruppy/') Мини-группы
        li(class='footer__menu-item')
            a(class='footer__menu-link' target='_blank' href='http://repetitor-dona.ru/fotografii/') Фотографии
        li(class='footer__menu-item')
            a(class='footer__menu-link' target='_blank' href='http://repetitor-dona.ru/materialy-i-stati/')
                | Материалы и
                | статьи
        li(class='footer__menu-item')
            a(class='footer__menu-link' target='_blank' href='http://repetitor-dona.ru/kontakty/') Контакты
