section.free-test
    div(class='free-test__wrapper wrapper')
        h2(class='free-test__title') А КАКОЙ РЕЗУЛЬТАТ У ВАШЕГО РЕПЕТИТОРА?
        p(class='free-test__description')
            | Запишитесь на бесплатный тест в формате ЕГЭ и на тест выявления пробелов знаний
        form(class='free-test__form main-form--with-bg ajaxForm' enctype='multipart/form-data' method='post' action='/netcat/add.php?isNaked=1')
            input(name='catalogue' type='hidden' value='1')
            input(name='cc' type='hidden' value='52')
            input(name='sub' type='hidden' value='25')
            input(name='posting' type='hidden' value='1')
            input(name='curPos' type='hidden' value='0')
            input(name='f_Parent_Message_ID' type='hidden' value='')
            .warnText Заявка успешно отправлена!
            label(data-name='f_name' class='main-form__label')
                input(class='main-form__input' type='text' placeholder='Ваше имя' name='f_name' required)
            label(data-name='f_phone' class='main-form__label')
                input(class='main-form__input f_phone' type='text' placeholder='Ваш телефон' name='f_phone' required)
            label(data-name='f_time' class='main-form__label')
                input(class='main-form__input' type='text' placeholder='Удобное время для звонка' name='f_time' required)
            label(class='main-form__label--button')
                button(class='main-form__button' type='submit') Хочу такой результат
