section#howWeWorking.how-we-working
    h2(class='how-we-working__title')
        span КАК
        | МЫ РАБОТАЕМ?
    div(class='how-we-working__wrapper')
        article(class='how-we-working__testing testing')
            h3(class='how-we-working__subtitle testing__title') Входное тестирование
            p Мы проводим подробное двух этапное тестирование в формате ЕГЭ и по пробелам
            p Мы проводим подробное двух этапное тестирование в формате ЕГЭ и по пробелам
            p Мы берем учеников
                br
                | с любым уровнем!
        article(class='how-we-working__number-of-lessons number-of-lessons')
            h3(class='how-we-working__subtitle number-of-lessons__title') Занятия 2 раза в неделю
            p
                | Длительность занятий 120-180 минут,
                | это зависит от методики каждого
                | преподавателя
            p
                | Занятия обычно начинаются
                | с проверки домашнего задания,
                | с вопросов, которые
                | возникли у учеников
            p
                | Следующий этап:
                | объяснение новой темы или
                | закрепление пройденного материала в
                | зависимости от того, насколько ученик
                | усвоил материал
            p
                | С каждым учеником в группе мы
                | работаем индивидуально, то есть
                | каждый ученик занимается своими
                | разделами и со своей скоростью
        article(class='how-we-working__test-papers test-papers')
            h3(class='how-we-working__subtitle test-papers__title') Контрольные в формате ЕГЭ
            p После каждого изученного раздела наши ученики пишут контрольные в формате ЕГЭ. Это позволяет:
            ul
                li повторить пройденное
                li оценить степень усвоения материала
                li отработать заполнение бланков
            p Контрольные проводятся вне занятий и бесплатно для ученика.
        article(class='how-we-working__intensives intensives')
            h3(class='how-we-working__subtitle intensives__title') Интенсивы
            p Перед самим ЕГЭ мы проводим ряд занятий, которые проходят каждый день в течение недели или 5 дней.
            p
                | На этих занятиях мы прорешиваем тесты целиком, занимаемся повторением, а также освоением новых тем. Это
                | позволяет в короткий срок изучить материал несколько месяцев обучения.
            p Для тех, кто собирается решать задания 16-19, отрабатываем скорость и стратегию на экзамене.
