section.introduction
    h2.visually-hidden Введение
    div(class='introduction__description')
        p(class='introduction__description--left') Нужны высокие балы ЕГЭ?
        p(class='introduction__description--right') Хотите поступить
            br
            | в престижный вуз?
    strong(class='introduction__red-pentagon') Тогда записывайтесь к нам!
