section#miniGroups.mini-groups
    div(class='mini-groups__wrapper')
        h2(class='mini-groups__title') Почему мини-группа лучше и выгоднее?
        article(class='mini-groups__what-is what-is')
            div(class='what-is__wrapper')
                h3(class='what-is__title') Что такое мини-группа?
                ul
                    li
                        | Мини группа состоит из 5-12 учеников, которые проходят обучение одновременно. Мы ведем занятия в наших
                        | мини-группах по уникальной методике, при которой каждый ученик занимается только своими заданиями.
                    li
                        | Занятия в минигруппе позволяют заниматься индивидуально с каждым учеником без потери качества обучения,
                        | но при этом занятие идет гораздо дольше.
                        | эффективность таких занятий подтверждается высокими баллами наших учеников!
        div(class='mini-groups__container')
            article(class='mini-groups__teacher teacher')
                h3(class='teacher__title') Преподаватель в мини-группе
                ul
                    li Занимается с каждым учеником без потери качества обучения
                    li Снижает стоимость обучения
                        br
                        | за счет экономии времени
            article(class='mini-groups__students students')
                h3(class='students__title') Ученики в мини-группе
                ul
                    li Соревновательное начало повышает мотивацию в обучении ученика в мини-группе
                    li Взаимопроверка работ других учеников повышает уровень внимательности
                    li Участвуют в обучающих играх
            article(class='mini-groups__student student')
                h3(class='student__title') Ученик в мини-группе
                ul
                    li Получает индивидуальный подход
                    li Платит меньше чем обычно
                    li Изучает ошибки других ребят
                    li Работает в коллективе
