nav.navigation
    div(class='navigation__wrapper')
        div(class='navigation__container')
            div(class='navigation__opening-hours opening-hours')
                strong(class='opening-hours__title') Мы работаем без выходных!
                p(class='opening-hours__description') Часы работы:
                    span(class='opening-hours__description--red') 10:00 - 21:00
            button(class='navigation__button-check-in-a-course') Записаться на курс
            button(class='navigation__toggle-button' aria-label='Открыть/закрыть меню')
        div(class='navigation__list')
            ul(class='navigation__list--first')
                li(class='navigation__item')
                    a(href='#teachers' class='navigation__link anchor') Преподаватели
                li(class='navigation__item')
                    a(href='#reviews' class='navigation__link anchor') Отзывы
                li(class='navigation__item')
                    a(href='#howWeWorking' class='navigation__link anchor') Как мы работаем?
                li(class='navigation__item')
                    a(href='#olympiads' class='navigation__link anchor') Олимпиады
                li(class='navigation__item')
                    a(href='#asWellAs' class='navigation__link anchor') Наши преимущества
            ul(class='navigation__list--second')
                li(class='navigation__item')
                    a(href='#problems' class='navigation__link anchor') Проблемы школьников
                li(class='navigation__item')
                    a(href='#whyAreWe' class='navigation__link anchor') Почему мы?
                li(class='navigation__item')
                    a(href='#miniGroups' class='navigation__link anchor') Мини-группы
                li(class='navigation__item')
                    a(href='#results' class='navigation__link anchor') Результаты учеников
                li(class='navigation__item')
                    a(href='#contacts' class='navigation__link anchor') Контакты
