section#olympiads.olympiads-top
    div(class='olympiads-top__wrapper wrapper')
        h2(class='olympiads-top__title') Олимпиады!
        p
            span
                | Мы проводим бесплатные занятия для одаренных детей! С 2016 года мы отбираем самых сильных учеников и ведем
                | занятия по подготовке к олимпиадам бесплатно!
                br
                | Уже в этом году 26 учеников 11 класса, 1 ученик 10 класса и 2 ученика 9 класса стали победителями и
                br
                | призерами вузовских олимпиад: Физтех, ОММО, Курчатов, олимпиады ИТМО, САММАТ и т.д.
