section.olympiads-bottom
    h2.visually-hidden Результаты олимпиад
    div(class='olympiads-bottom__wrapper')
        div(class='olympiads__container slider')
            ul(class='olympiads__list slider-track')
                li(class='olympiads__item slider__item')
                    img(class='olympiads__student-photo' src='images/olympiads/2673_37.jpeg' alt='Андрианов Артем')
                    p(class='olympiads__student-name') Веретенников Максим
                    div(class='olympiads__result student-result')
                        p
                            strong Призер олимпиад по математике:
                        ul
                            li Межведомственная олимпиада, 3 степень
                            li Олимпиада ИТМО, 3 степень
                            li ОММО, 2 степень
                            li ФизТех, 1 степень
                            li СамМат, 3 степень
                        p
                            strong Льгота при поступлении:
                        ul
                            li 100 баллов по ЕГЭ в МФТИ
                li(class='olympiads__item slider__item')
                    img(class='olympiads__student-photo' src='images/olympiads/2673_39.jpeg' alt='Фотография ученика')
                    p(class='olympiads__student-name') Вирцев Даниил
                    div(class='olympiads__result student-result')
                        p
                            strong Призер олимпиад по матиматике:
                        ul
                            li СПБГУ, 2 степень
                            li ИТМО, 3 степень
                            li ОММО, 3 степень
                            li СамМАт, 3 степень
                            li РосАтом, 3 степень
                            li Турнир имени М.В Ломоносова, 1 степень
                        p
                            strong Льгота при поступлении:
                        ul
                            li БВИ в ИТМО
                li(class='olympiads__item slider__item')
                    img(class='olympiads__student-photo' src='images/olympiads/veretennikov-maksim.jpg' alt='Фотография ученика')
                    p(class='olympiads__student-name') Веретенников Максим
                    div(class='olympiads__result student-result')
                        p
                            strong Призер олимпиад по матиматике:
                        ul
                            li СПБГУ, 2 степень
                            li ИТМО, 3 степень
                            li ОММО, 3 степень
                            li СамМАт, 2 степень
                            li РосАтом, 3 степень
                        p
                            strong Льгота при поступлении:
                        ul
                            li 100 баллов за ДВИ в МГУ
                li(class='olympiads__item slider__item')
                    img(class='olympiads__student-photo' src='images/olympiads/2673_34.jpeg' alt='Фотография ученика')
                    p(class='olympiads__student-name') Андрианов Артем
                    div(class='olympiads__result student-result')
                        p
                            strong Призер олимпиад по матиматике:
                        ul
                            li Межведомственная олимпиада, 3 степень
                            li Олимпиада ИТМО, 3 степень
                            li ОММО, 2 степень
                            li ФизТех, 1 степень
                            li СамМат, 3 степень
                        p
                            strong Льгота при поступлении:
                        ul
                            li 100 баллов по ЕГЭ в МФТИ
                li(class='olympiads__item slider__item')
                    img(class='olympiads__student-photo' src='images/olympiads/2673_75.jpeg' alt='Фотография ученика')
                    p(class='olympiads__student-name') Власенко Галина
                    div(class='olympiads__result student-result')
                        p
                            strong Призер олимпиад по матиматике:
                        ul
                            li ОММО, 3 степень
                            li Курчатов, 3 степень
                            li СамМат, 3 степень
                            li РосАтом, 2 степень
                        p
                            strong Льгота при поступлении:
                        ul
                            li БВИ в ВШЭ
                li(class='olympiads__item slider__item')
                    img(class='olympiads__student-photo' src='images/olympiads/2673_38.jpeg' alt='Фотография ученика')
                    p(class='olympiads__student-name') Богданова Виолетта
                    div(class='olympiads__result student-result')
                        p
                            strong Призер олимпиад по матиматике:
                        ul
                            li СПбГУ, 2 степень
                            li РосАтом, 3 степень
                            li СамМат, 3 степень
                        p
                            strong Льгота при поступлении:
                        ul
                            li 100 баллов за ДВИ в МГУ
                li(class='olympiads__item slider__item')
                    img(class='olympiads__student-photo' src='images/olympiads/2673_76.jpeg' alt='Фотография ученика')
                    p(class='olympiads__student-name') Муслимов Ойбек
                    div(class='olympiads__result student-result')
                        p
                            strong Призер олимпиад по матиматике:
                        ul
                            li Межведомственная олимпиада, 3 степень
                            li ОММО, 2 степень
                            li СамМАт, 3 степень
                        p
                            strong Льгота при поступлении:
                        ul
                            li БВИ в ИТМО
                li(class='olympiads__item slider__item')
                    img(class='olympiads__student-photo' src='images/olympiads/2673_77.jpeg' alt='Фотография ученика')
                    p(class='olympiads__student-name') Шевчук Илья
                    div(class='olympiads__result student-result')
                        p
                            strong Призер олимпиад по матиматике:
                        ul
                            li СамМат, 3 степень
                            li РосАтом, 3 степень
                            li Курчатов, 3 степень
                        p
                            strong Льгота при поступлении:
                        ul
                            li БВИ в ИТМО
                li(class='olympiads__item slider__item')
                    img(class='olympiads__student-photo' src='images/olympiads/2673_35.jpeg' alt='Фотография ученика')
                    p(class='olympiads__student-name') Акопян Валерия
                    div(class='olympiads__result student-result')
                        p
                            strong Призер олимпиад по матиматике:
                        ul
                            li Межведомственная олимпиада, 3 степень
                            li Олимпиада ИТМО, 3 степень
                        p
                            strong Льгота при поступлении:
                        ul
                            li 100 баллов по ЕГЭ в СПБГУ
                li(class='olympiads__item slider__item')
                    img(class='olympiads__student-photo' src='images/olympiads/2673_36.jpeg' alt='Фотография ученика')
                    p(class='olympiads__student-name') Бекетова Анастасия
                    div(class='olympiads__result student-result')
                        p
                            strong Призер олимпиад по матиматике:
                        ul
                            li Курчатов, 3 степень
                            li СамМат, 3 степень
                        p
                            strong Льгота при поступлении:
                        ul
                            li БВИ в ВШЭ
                li(class='olympiads__item slider__item')
                    img(class='olympiads__student-photo' src='images/olympiads/2673_41.jpeg' alt='Фотография ученика')
                    p(class='olympiads__student-name') Бутовченко Милена
                    div(class='olympiads__result student-result')
                        p
                            strong Призер олимпиад по матиматике:
                        ul
                            li Межведомственная олимпиада, 3 степень
                            li СамМАт, 3 степень
                        p
                            strong Льгота при поступлении:
                        ul
                            li БВИ в ИТМО
                li(class='olympiads__item slider__item')
                    img(class='olympiads__student-photo' src='images/olympiads/2673_40.jpeg' alt='Фотография ученика')
                    p(class='olympiads__student-name') Волкодав Артем
                    div(class='olympiads__result student-result')
                        p
                            strong Призер олимпиад по матиматике:
                        ul
                            li СОлимпиада ИТМО, 3 степень
                            li РосАтом, 3 степень
                        p
                            strong Льгота при поступлении:
                        ul
                            li 100 баллов по ЕГЭ в ЮФУ
                li(class='olympiads__item slider__item')
                    img(class='olympiads__student-photo' src='images/olympiads/2673_78.jpeg' alt='Фотография ученика')
                    p(class='olympiads__student-name') Горбачёв Даниил
                    div(class='olympiads__result student-result')
                        p
                            strong Призер олимпиад по матиматике:
                        ul
                            li Межведомственная олимпиада, 3 степень
                            li ФизТех, 3 степень
                        p
                            strong Льгота при поступлении:
                        ul
                            li 100 баллов по ЕГЭ в ВШЭ
            div(class='slider__buttons')
                button(class='slider__button slider__button--left' aria-label='кнопка слайдера влево')
                button(class='slider__button slider__button--right' aria-label='кнопка слайдера вправо')
