section#problems.problems
    div(class='problems__title-container')
        h2(class='problems__title') Проблемы, с которыми сталкиваются школьники
    div(class='problems__container')
        ul(class='problems__list')
            li(class='problems__item')
                | ВУЗ принимает учеников только с высокими баллами ЕГЭ
            li(class='problems__item')
                | Многие репетиторы занимаются прорешиванием тестов ЕГЭ
                | по какому - либо пособию, что не ведет к увеличению уровня знаний
            li(class='problems__item')
                | За годы обучения математике накопилось очень много
                | пробелов, в школе ничего не понятно, а математика нужна для поступления
            li(class='problems__item')
                | В школе учителя не умеют решать задания 16-19 -
                | обязательные для набора выше 80 баллов
            li(class='problems__item') В школе готовят только к ЕГЭ базового уровня
            li(class='problems__item')
                | Репетиторы не занимаются развитием мышления, а дают
                | просто готовые алгоритмы, а на ЕГЭ попадаются совсем новые задания
            li(class='problems__item')
                | Многие школьники считали в столбик последний раз в 5
                | классе, в на ЕГЭ пользоваться калькулятором запрещено
            li(class='problems__item')
                | Репетиторы показывают, как решать отдельные задания
                | ЕГЭ вместо устранения пробелов и прохождения целых разделов математики
        ul(class='problems__slider-indicators slider-indicators' aria-hidden='true')
