section#results.results
    div(class='results__title-container')
        h2(class='results__title') Результаты наших учеников по физике говорят сами за себя!
    div(class='results__container slider')
        ul(class='results__list slider-track')
            li(class='results__item slider__item')
                img(class='results__image' src='./images/results/mok-1.jpg' alt='Фотография ученика')
                p(class='results__name') Москвинов Алексей
                p(class='results__value') 88 баллов
            li(class='results__item slider__item')
                img(class='results__image' src='./images/results/mok-2.jpg' alt='Фотография ученика')
                p(class='results__name') Чернышова Виолетта
                p(class='results__value') 84 балла
            li(class='results__item slider__item')
                img(class='results__image' src='./images/results/preview_2661_80.jpeg' alt='Фотография ученика')
                p(class='results__name') Запорожец Артем
                p(class='results__value') 88 балла
            li(class='results__item slider__item')
                img(class='results__image' src='images/results/preview_2661_79.jpeg' alt='Фотография ученика')
                p(class='results__name') Ковалев Никита
                p(class='results__value') 90 балла
            li(class='results__item slider__item')
                img(class='results__image' src='images/results/preview_2661_78.jpeg' alt='Фотография ученика')
                p(class='results__name') Иванов Антон
                p(class='results__value') 88 баллов
            li(class='results__item slider__item')
                img(class='results__image' src='images/results/preview_2661_77.jpeg' alt='Фотография ученика')
                p(class='results__name') Залесская Ксения
                p(class='results__value') 76 баллов
            li(class='results__item slider__item')
                img(class='results__image' src='images/results/preview_2661_76.jpeg' alt='Фотография ученика')
                p(class='results__name') Акопян Валерия
                p(class='results__value') 84 баллов
            li(class='results__item slider__item')
                img(class='results__image' src='images/results/preview_2661_75.jpeg' alt='Фотография ученика')
                p(class='results__name') Денисова Мария
                p(class='results__value') 80 балла
            li(class='results__item slider__item')
                img(class='results__image' src='images/results/preview_2661_74.jpeg' alt='Фотография ученика')
                p(class='results__name') Морозов Дмитрий
                p(class='results__value') 82 балла
            li(class='results__item slider__item')
                img(class='results__image' src='images/results/preview_2661_66.jpeg' alt='Фотография ученика')
                p(class='results__name') Дробязко Богдан
                p(class='results__value') 92 балла
            li(class='results__item slider__item')
                img(class='results__image' src='images/results/preview_2661_69.jpeg' alt='Фотография ученика')
                p(class='results__name') Могилевский Матвей
                p(class='results__value') 88 баллов
            li(class='results__item slider__item')
                img(class='results__image' src='images/results/preview_2661_68.jpeg' alt='Фотография ученика')
                p(class='results__name') Муслимов Ойбек
                p(class='results__value') 90 баллов
            li(class='results__item slider__item')
                img(class='results__image' src='images/results/preview_2661_34.jpeg' alt='Фотография ученика')
                p(class='results__name') Вирцев Даниил
                p(class='results__value') 100 баллов
            li(class='results__item slider__item')
                img(class='results__image' src='images/results/preview_2661_67.jpeg' alt='Фотография ученика')
                p(class='results__name') Бутовченко Милена
                p(class='results__value') 86 балла
            li(class='results__item slider__item')
                img(class='results__image' src='images/results/preview_2661_32.jpeg' alt='Фотография ученика')
                p(class='results__name') Веретенников Максим
                p(class='results__value') 100 балла
            li(class='results__item slider__item')
                img(class='results__image' src='images/results/preview_2661_65.jpeg' alt='Фотография ученика')
                p(class='results__name') Колосков Богдан
                p(class='results__value') 86 балла
            li(class='results__item slider__item')
                img(class='results__image' src='images/results/preview_2661_64.jpeg' alt='Фотография ученика')
                p(class='results__name') Шевчук Илья
                p(class='results__value') 92 балла
            li(class='results__item slider__item')
                img(class='results__image' src='images/results/preview_2661_63.jpeg' alt='Фотография ученика')
                p(class='results__name') Мурадян Яна
                p(class='results__value') 86 балла
            li(class='results__item slider__item')
                img(class='results__image' src='images/results/preview_2661_70.jpeg' alt='Фотография ученика')
                p(class='results__name') Батищев Кирилл
                p(class='results__value') 90 балла
            li(class='results__item slider__item')
                img(class='results__image' src='images/results/preview_2661_62.jpeg' alt='Фотография ученика')
                p(class='results__name') Скарлупин Максим
                p(class='results__value') 92 балла
            li(class='results__item slider__item')
                img(class='results__image' src='images/results/preview_2661_61.jpeg' alt='Фотография ученика')
                p(class='results__name') Гурин Иван
                p(class='results__value') 86 балла
        div(class='slider__buttons')
            button(class='slider__button slider__button--left' aria-label='кнопка слайдера влево')
            button(class='slider__button slider__button--right' aria-label='кнопка слайдера вправо')