section#reviews.reviews
    div(class='reviews__title--container')
        h2(class='reviews__title')
            strong(class='reviews__title--red') Отзывы
            | учеников - наша гордость
    ul(class='reviews__years-list')
        li(class='reviews__years-item')
            a(class='reviews__years-link reviews__years-link--active' href='#tab2020') 2020
        li(class='reviews__years-item')
            a(class='reviews__years-link' href='#tab2019') 2019
        li(class='reviews__years-item')
            a(class='reviews__years-link' href='#tab2018') 2018
        li(class='reviews__years-item')
            a(class='reviews__years-link' href='#') 2017
        li(class='reviews__years-item')
            a(class='reviews__years-link' href='#') 2016
        li(class='reviews__years-item')
            a(class='reviews__years-link' href='#') 2015
        li(class='reviews__years-item')
            a(class='reviews__years-link' href='#') 2014
        li(class='reviews__years-item')
            a(class='reviews__years-link' href='#') 2013
        li(class='reviews__years-item')
            a(class='reviews__years-link' href='#') 2012
    div(class='reviews__wrapper')
        div(class='reviews__container slider')
            ul#tab2020(class='reviews__list slider-track')
                li(class='reviews__item reviews-item')
                    div(class='reviews-item__information')
                        div(class='reviews-item__photo')
                            img(src='images/reviews/preview_2._Rudneva_Alina_96.jpg' alt='' class='reviews-item__photo--img')
                        p(class='reviews-item__name') Руднева Алина
                        div(class='reviews-item__ege-results')
                            p ЕГЭ по русскому языку: 96 баллов.
                            p ЕГЭ по математике: 88 баллов.
                            p ЕГЭ по обществознанию: 81 балл.
                        div(class='reviews-item__destination')
                            | ЮФУ, экономический факультет
                        div(class='reviews-item__years')
                            p Год обучения:
                                span 2019-2020
                    div(class='reviews-item__text-container')
                        div(class='reviews-item__text scroll-container')
                            p
                            p
                                | Мне выпала чудесная возможность готовиться ко всем предметам в Репетиторе Дона! В успешной сдаче ЕГЭ
                                | мне помогли Алексей Владимирович, Татьяна Филипповна и Ирина Алексеевна. Хочу оставить отзыв о каждом
                                | преподавателе.
                                br
                                br
                                | Занятия по математике проходили продуктивно и весело. Алексей Владимирович стал не только любимым
                                | преподавателем, но и хорошим наставником и другом для каждого ученика. Наша группа стала настоящей
                                | семьей, и вместе мы смогли справиться с трудностями! АВ умеет мотивировать и дать пинка, когда совсем
                                | лень учиться. Смело могу назвать его профессионалом в своём деле. Я получила 88 баллов на ЕГЭ, о чем
                                | даже мечтать не могла!!! Это был крутой и насыщенный учебный год:)
                                br
                                br
                                | С Татьяной Филипповной мы успели пройти всю программу, на уроках было безумно интересно получать новые
                                | знания и вести интеллектуальные беседы. Она всегда нас настраивала на позитивную волну и делала
                                | занятия максимально информативными и продуктивными. Это очень сильный преподаватель, и я безумно рада,
                                | что готовилась к обществознанию с ней! Совместными усилиями мы добились хорошего результата - 81 балл,
                                | за что я безмерно благодарна!
                                br
                                br
                                | Ирина Алексеевна - невероятно добрый, светлый человек, с ней было невероятно комфортно и приятно
                                | учиться. Я долго сомневалась, нужны ли мне занятия по русскому языку. Но, получив шикарный результат,
                                | 96 баллов, я поняла, что все это было не зря, и русский язык не так прост, как может казаться! Тест я
                                | решила без ошибок, а сочинение на 22 балла, что точно могу считать крутым достижением. Спасибо вам
                                | большое, за вклад в мои знания!
                                br
                                br
                                | И отдельно хочу выразить огромную благодарность всей команде «Репетитор Дона», потому что это не
                                | просто центр подготовки к ЕГЭ, а большая и дружная семья, где тебе всегда рады! Люблю и обнимаю.
                            p
                    div(class='reviews-item__video')
                        iframe(width='560' height='315' src='https://www.youtube.com/embed/eKQ1VzCjnE8' frameborder='0' allowfullscreen='')
                li(class='reviews__item reviews-item')
                    div(class='reviews-item__information')
                        div(class='reviews-item__photo')
                            img(src='images/reviews/preview_7._Hristova_Sofiya_94_kopiya.jpg' alt='' class='reviews-item__photo--img')
                        p(class='reviews-item__name') Христова София
                        div(class='reviews-item__ege-results')
                            p ЕГЭ по русскому языку: 94 балла
                            p ЕГЭ по обществознанию: 93 балла
                            p ЕГЭ по математике: 76 баллов
                        div(class='reviews-item__destination')
                            | ЮФУ, экономический факультет
                        div(class='reviews-item__years')
                            p Год обучения:
                                span 2019-2020
                    div(class='reviews-item__text-container')
                        div(class='reviews-item__text scroll-container')
                            p
                            p
                                | Хочу выразить благодарность лучшему преподавателю русского языка – Бережанской Наталье Александровне!
                                | Скажу честно, русский язык для меня был отнюдь не простым, со школы у меня складывалось впечатление,
                                | что я не умею писать сочинения, что не наберу даже 70 баллов, как считали школьные учителя. Однако
                                | Наталья Александровна всегда верила в меня, в каждого из нас! Мы разбирали все задания из тестовой
                                | части, даже самые сложные, писали сочинения, порой по очень трудным текстам. Поэтому мы были готовы ко
                                | всему! Порой из-за моей невнимательности на интенсивах я решала первую часть на 29/34, 30/34 и очень
                                | переживала за ЕГЭ. Но на экзамене я смогла набрать за первую часть 33/34, а за сочинение 22/24! Я
                                | получила 94 балла! Я никогда не могла о таком мечтать! Также хочется отметить, что Наталья
                                | Александровна подготовила нас к итоговому сочинению, которое, кстати, я без трудностей написала на
                                | 5/5. Помимо того, что Наталья Александровна прекрасный педагог, она еще очень добрый, замечательный и
                                | понимающий человек! Она находит подход к любому ребенку и понимает каждого из нас! Тысячу раз спасибо,
                                | Наталья Александровна, за такой отличный результат!
                            p
                                | Хочу поблагодарить еще двух прекрасных преподавателей! Осипова Алексея Владимировича и Альхову
                                | Татьяну Александровну!
                                br
                                | Мое знакомство с центром "Репетитор Дона" началось еще в январе 2019 года (тогда я была в 10 классе).
                                | Решила сдавать обществознание. Скажу сразу, знаний по обществознанию со школы не было совсем, нам не
                                | преподавали этот предмет. Вступительный тест показал мои нулевые знания, так как я даже не перешла
                                | порог. Но я никогда не могла представить, насколько я сдам в дальнейшем...
                                br
                                | Татьяна Александровна прекрасный педагог! Мы изучали всю теорию по кодификатору (то есть те темы,
                                | которые необходимы для ЕГЭ), нарешивали тесты, причем весь изученный материал закрепляли. Большое
                                | внимание уделялось определениям, ведь именно их знание – залог качественного выполнения 2ой части.
                                | Хочется отметить, что Татьяна Александровна является экспертом ЕГЭ, поэтому знает все тонкости
                                | выполнения заданий 2-ой части! Очень много прорешивали кимы, разбирая каждое задание, по критериям,
                                | обсуждали оформление, что очень важно в обществознании. Только благодаря большому труду Татьяны
                                | Александровны я смогла сдать обществознание на 93 балла!!! Это победа! Спасибо Вам, Татьяна
                                | Александровна!
                                br
                                | Большую роль для меня сыграл Осипов Алексей Владимирович! Это без сомнения не просто самый лучший
                                | репетитор по математике, но и самый лучший друг! Алексей Владимирович очень любит свою работу и детей.
                                | Он объяснял мне одно и то же по 10, по 15 раз, лишь бы я поняла. Мы занимались по 6 часов, но время
                                | пролетало незаметно. Хотелось заниматься еще и еще! Проходили абсолютно каждое задание, писали
                                | контрольные, чтобы закрепить, учили теорию. Вступительный тест я написала на 9 баллов из 100...а сдала
                                | ЕГЭ на 76! Да, может это и не самый высокий результат, так как Алексей Владимирович подготовил меня на
                                | более высокие баллы, но не стоит забывать, что ЕГЭ – это рулетка. Но даже к такой рулетке, к любой
                                | сложности, может подготовить "Репетитор Дона". Хочу отметить, что Алексей Владимирович поддерживал нас
                                | вплоть до самой апелляции, и более того, рассказывал, как необходимо себя там вести. Алексей
                                | Владимирович, спасибо вам большое! Именно вы смогли подарить мне любовь к математике и стать самым
                                | настоящим лучшим другом! Спасибо!
                                br
                                | Отдельное спасибо хочу сказать центру "Репетитор Дона" в целом. Очень добрая атмосфера, самые
                                | улыбчивые администраторы. Особенно администратор – Карина! Всегда доброжелательная, ответит на все
                                | интересующие вопросы и просто очень хороший человек.
                                br
                                | Спасибо большое, Репетитор Дона, ведь сумма моих баллов 263, что является вашей заслугой ❤
                            p
                    div(class='reviews-item__video')
                        iframe(width='560' height='315' src='https://www.youtube.com/embed/Jfqazk46pr8' frameborder='0' allowfullscreen='')
                li(class='reviews__item reviews-item')
                    div(class='reviews-item__information')
                        div(class='reviews-item__photo')
                            img(src='images/reviews/preview_7._Hristova_Sofiya_94_kopiya.jpg' alt='' class='reviews-item__photo--img')
                        p(class='reviews-item__name') Христова София
                        div(class='reviews-item__ege-results')
                            p ЕГЭ по русскому языку: 94 балла
                            p ЕГЭ по обществознанию: 93 балла
                            p ЕГЭ по математике: 76 баллов
                        div(class='reviews-item__destination')
                            | ЮФУ, экономический факультет
                        div(class='reviews-item__years')
                            p Год обучения:
                                span 2019-2020
                    div(class='reviews-item__text-container')
                        div(class='reviews-item__text scroll-container')
                            p
                            p
                                | Хочу выразить благодарность лучшему преподавателю русского языка – Бережанской Наталье Александровне!
                                | Скажу честно, русский язык для меня был отнюдь не простым, со школы у меня складывалось впечатление,
                                | что я не умею писать сочинения, что не наберу даже 70 баллов, как считали школьные учителя. Однако
                                | Наталья Александровна всегда верила в меня, в каждого из нас! Мы разбирали все задания из тестовой
                                | части, даже самые сложные, писали сочинения, порой по очень трудным текстам. Поэтому мы были готовы ко
                                | всему! Порой из-за моей невнимательности на интенсивах я решала первую часть на 29/34, 30/34 и очень
                                | переживала за ЕГЭ. Но на экзамене я смогла набрать за первую часть 33/34, а за сочинение 22/24! Я
                                | получила 94 балла! Я никогда не могла о таком мечтать! Также хочется отметить, что Наталья
                                | Александровна подготовила нас к итоговому сочинению, которое, кстати, я без трудностей написала на
                                | 5/5. Помимо того, что Наталья Александровна прекрасный педагог, она еще очень добрый, замечательный и
                                | понимающий человек! Она находит подход к любому ребенку и понимает каждого из нас! Тысячу раз спасибо,
                                | Наталья Александровна, за такой отличный результат!
                            p
                                | Хочу поблагодарить еще двух прекрасных преподавателей! Осипова Алексея Владимировича и Альхову
                                | Татьяну Александровну!
                                br
                                | Мое знакомство с центром "Репетитор Дона" началось еще в январе 2019 года (тогда я была в 10 классе).
                                | Решила сдавать обществознание. Скажу сразу, знаний по обществознанию со школы не было совсем, нам не
                                | преподавали этот предмет. Вступительный тест показал мои нулевые знания, так как я даже не перешла
                                | порог. Но я никогда не могла представить, насколько я сдам в дальнейшем...
                                br
                                | Татьяна Александровна прекрасный педагог! Мы изучали всю теорию по кодификатору (то есть те темы,
                                | которые необходимы для ЕГЭ), нарешивали тесты, причем весь изученный материал закрепляли. Большое
                                | внимание уделялось определениям, ведь именно их знание – залог качественного выполнения 2ой части.
                                | Хочется отметить, что Татьяна Александровна является экспертом ЕГЭ, поэтому знает все тонкости
                                | выполнения заданий 2-ой части! Очень много прорешивали кимы, разбирая каждое задание, по критериям,
                                | обсуждали оформление, что очень важно в обществознании. Только благодаря большому труду Татьяны
                                | Александровны я смогла сдать обществознание на 93 балла!!! Это победа! Спасибо Вам, Татьяна
                                | Александровна!
                                br
                                | Большую роль для меня сыграл Осипов Алексей Владимирович! Это без сомнения не просто самый лучший
                                | репетитор по математике, но и самый лучший друг! Алексей Владимирович очень любит свою работу и детей.
                                | Он объяснял мне одно и то же по 10, по 15 раз, лишь бы я поняла. Мы занимались по 6 часов, но время
                                | пролетало незаметно. Хотелось заниматься еще и еще! Проходили абсолютно каждое задание, писали
                                | контрольные, чтобы закрепить, учили теорию. Вступительный тест я написала на 9 баллов из 100...а сдала
                                | ЕГЭ на 76! Да, может это и не самый высокий результат, так как Алексей Владимирович подготовил меня на
                                | более высокие баллы, но не стоит забывать, что ЕГЭ – это рулетка. Но даже к такой рулетке, к любой
                                | сложности, может подготовить "Репетитор Дона". Хочу отметить, что Алексей Владимирович поддерживал нас
                                | вплоть до самой апелляции, и более того, рассказывал, как необходимо себя там вести. Алексей
                                | Владимирович, спасибо вам большое! Именно вы смогли подарить мне любовь к математике и стать самым
                                | настоящим лучшим другом! Спасибо!
                                br
                                | Отдельное спасибо хочу сказать центру "Репетитор Дона" в целом. Очень добрая атмосфера, самые
                                | улыбчивые администраторы. Особенно администратор – Карина! Всегда доброжелательная, ответит на все
                                | интересующие вопросы и просто очень хороший человек.
                                br
                                | Спасибо большое, Репетитор Дона, ведь сумма моих баллов 263, что является вашей заслугой ❤
                            p
                    div(class='reviews-item__video')
                        iframe(width='560' height='315' src='https://www.youtube.com/embed/Jfqazk46pr8' frameborder='0' allowfullscreen='')
                li(class='reviews__item reviews-item')
                    div(class='reviews-item__information')
                        div(class='reviews-item__photo')
                            img(src='images/reviews/preview_7._Hristova_Sofiya_94_kopiya.jpg' alt='' class='reviews-item__photo--img')
                        p(class='reviews-item__name') Христова София
                        div(class='reviews-item__ege-results')
                            p ЕГЭ по русскому языку: 94 балла
                            p ЕГЭ по обществознанию: 93 балла
                            p ЕГЭ по математике: 76 баллов
                        div(class='reviews-item__destination')
                            | ЮФУ, экономический факультет
                        div(class='reviews-item__years')
                            p Год обучения:
                                span 2019-2020
                    div(class='reviews-item__text-container')
                        div(class='reviews-item__text scroll-container')
                            p
                            p
                                | Хочу выразить благодарность лучшему преподавателю русского языка – Бережанской Наталье Александровне!
                                | Скажу честно, русский язык для меня был отнюдь не простым, со школы у меня складывалось впечатление,
                                | что я не умею писать сочинения, что не наберу даже 70 баллов, как считали школьные учителя. Однако
                                | Наталья Александровна всегда верила в меня, в каждого из нас! Мы разбирали все задания из тестовой
                                | части, даже самые сложные, писали сочинения, порой по очень трудным текстам. Поэтому мы были готовы ко
                                | всему! Порой из-за моей невнимательности на интенсивах я решала первую часть на 29/34, 30/34 и очень
                                | переживала за ЕГЭ. Но на экзамене я смогла набрать за первую часть 33/34, а за сочинение 22/24! Я
                                | получила 94 балла! Я никогда не могла о таком мечтать! Также хочется отметить, что Наталья
                                | Александровна подготовила нас к итоговому сочинению, которое, кстати, я без трудностей написала на
                                | 5/5. Помимо того, что Наталья Александровна прекрасный педагог, она еще очень добрый, замечательный и
                                | понимающий человек! Она находит подход к любому ребенку и понимает каждого из нас! Тысячу раз спасибо,
                                | Наталья Александровна, за такой отличный результат!
                            p
                                | Хочу поблагодарить еще двух прекрасных преподавателей! Осипова Алексея Владимировича и Альхову
                                | Татьяну Александровну!
                                br
                                | Мое знакомство с центром "Репетитор Дона" началось еще в январе 2019 года (тогда я была в 10 классе).
                                | Решила сдавать обществознание. Скажу сразу, знаний по обществознанию со школы не было совсем, нам не
                                | преподавали этот предмет. Вступительный тест показал мои нулевые знания, так как я даже не перешла
                                | порог. Но я никогда не могла представить, насколько я сдам в дальнейшем...
                                br
                                | Татьяна Александровна прекрасный педагог! Мы изучали всю теорию по кодификатору (то есть те темы,
                                | которые необходимы для ЕГЭ), нарешивали тесты, причем весь изученный материал закрепляли. Большое
                                | внимание уделялось определениям, ведь именно их знание – залог качественного выполнения 2ой части.
                                | Хочется отметить, что Татьяна Александровна является экспертом ЕГЭ, поэтому знает все тонкости
                                | выполнения заданий 2-ой части! Очень много прорешивали кимы, разбирая каждое задание, по критериям,
                                | обсуждали оформление, что очень важно в обществознании. Только благодаря большому труду Татьяны
                                | Александровны я смогла сдать обществознание на 93 балла!!! Это победа! Спасибо Вам, Татьяна
                                | Александровна!
                                br
                                | Большую роль для меня сыграл Осипов Алексей Владимирович! Это без сомнения не просто самый лучший
                                | репетитор по математике, но и самый лучший друг! Алексей Владимирович очень любит свою работу и детей.
                                | Он объяснял мне одно и то же по 10, по 15 раз, лишь бы я поняла. Мы занимались по 6 часов, но время
                                | пролетало незаметно. Хотелось заниматься еще и еще! Проходили абсолютно каждое задание, писали
                                | контрольные, чтобы закрепить, учили теорию. Вступительный тест я написала на 9 баллов из 100...а сдала
                                | ЕГЭ на 76! Да, может это и не самый высокий результат, так как Алексей Владимирович подготовил меня на
                                | более высокие баллы, но не стоит забывать, что ЕГЭ – это рулетка. Но даже к такой рулетке, к любой
                                | сложности, может подготовить "Репетитор Дона". Хочу отметить, что Алексей Владимирович поддерживал нас
                                | вплоть до самой апелляции, и более того, рассказывал, как необходимо себя там вести. Алексей
                                | Владимирович, спасибо вам большое! Именно вы смогли подарить мне любовь к математике и стать самым
                                | настоящим лучшим другом! Спасибо!
                                br
                                | Отдельное спасибо хочу сказать центру "Репетитор Дона" в целом. Очень добрая атмосфера, самые
                                | улыбчивые администраторы. Особенно администратор – Карина! Всегда доброжелательная, ответит на все
                                | интересующие вопросы и просто очень хороший человек.
                                br
                                | Спасибо большое, Репетитор Дона, ведь сумма моих баллов 263, что является вашей заслугой ❤
                            p
                    div(class='reviews-item__video')
                        iframe(width='560' height='315' src='https://www.youtube.com/embed/Jfqazk46pr8' frameborder='0' allowfullscreen='')
            ul#tab2019(class='reviews__list slider-track')
                li(class='reviews__item reviews-item')
                    div(class='reviews-item__information')
                        div(class='reviews-item__photo')
                            img(src='images/reviews/preview_3._Ten_Timur_2___kopiya.jpg' alt='' class='reviews-item__photo--img')
                        p(class='reviews-item__name') Тен Тимур
                        div(class='reviews-item__ege-results')
                            p ЕГЭ по математике: 100 баллов
                        div(class='reviews-item__destination')
                            | МГТУ им. Баумана
                        div(class='reviews-item__years')
                            p Год обучения:
                                span 2018-2019
                    div(class='reviews-item__text-container')
                        div(class='reviews-item__text scroll-container')
                            p
                            p Хотелось бы выразить огромную благодарность лучшему преподавателю планеты - Владимиру Сергеевичу.
                            p
                                | Занятия по математике - это лучшие воспоминания за ушедший учебный год. 10 часов работы пролетали за
                                | 10 минут. Когда я впервые увидел Владимира Сергеевича, сразу понял, что это мой преподаватель. Мои
                                | знания не были нулевыми, но именно благодаря его мастерству мне удалось успешно сдать ЕГЭ по
                                | математике. 100 баллов, если это важно.
                            p
                                | Именно благодаря ему я без проблем поступил в МГТУ им. Н.Э.Баумана на бюджет. Ермаков Владимир
                                | Сергеевич. Запомните это имя, если захотите заниматься в Репетиторе Дона и не пожалеете!
                            p
                li(class='reviews__item reviews-item')
                    div(class='reviews-item__information')
                        div(class='reviews-item__photo')
                            img(src='images/reviews/preview_21.Kovalev_Nikita___kopiya.jpg' alt='' class='reviews-item__photo--img')
                        p(class='reviews-item__name') Ковалев Никита
                        div(class='reviews-item__ege-results')
                            p ЕГЭ по информатике: 97 баллов.
                            p ЕГЭ по математике: 90 баллов.
                        div(class='reviews-item__destination')
                            | МГТУ им. Баумана, информационно-вычислительная техника
                        div(class='reviews-item__years')
                            p Год обучения:
                                span 2018-2019
                    div(class='reviews-item__text-container')
                        div(class='reviews-item__text scroll-container')
                            p
                            p
                                | Хочется выразить благодарность преподавателю математики Ермакову Владимиру Сергеевичу. Придя в центр,
                                | я написал входной тест на 23 балла, хотя в школе проблем с математикой никогда не было. Была
                                | поставлена цель - получить 80 баллов на экзамене, но Владимир Сергеевич помог освоить программу на 84
                                | балла, а также всегда заставлял бороться до конца и пытаться решать то, что мы ещё не проходили, этим
                                | он вселил в нас уверенность, что мы можем все! Как итог - 90 баллов на экзамене, о которых в начале
                                | года трудно было мечтать. На занятиях мы все стали одной семьёй, какие бы ситуации не происходили,
                                | Владимир Сергеевич научил нас тому, что главными всегда остаются человеческие качества. Каждый из нас
                                | мог обратиться к нему за советом, не касающимся учебы и быть уверенным, что получит ответ. Спасибо Вам
                                | большое за этот год работы, каким бы тяжелым он не был, я ни разу не пожалел, что выбрал Вас!
                            p
                                | Хочется поблагодарить Могилевскую Надежду Сергеевну, преподавателя информатики, к которой я с
                                | огромным удовольствием ходил весь учебный год. Она смогла найти подход к каждому из нас и знала, как
                                | лучше всего мотивировать. Изначально имея самые базовые представления о информатике, за год с Надеждой
                                | Сергеевной мы прошли все методички и это дало свой результат. Ещё раз спасибо Вам за вашу работу, без
                                | Вас я бы и мечтать не мог о таком результате!
                            p
                li(class='reviews__item reviews-item')
                    div(class='reviews-item__information')
                        div(class='reviews-item__photo')
                            img(src='images/reviews/preview_4._Gurin_Ivan___kopiya.jpg' alt='' class='reviews-item__photo--img')
                        p(class='reviews-item__name') Гурин Иван
                        div(class='reviews-item__ege-results')
                            p ЕГЭ по информатике:100 баллов
                            p ЕГЭ по математике: 86 баллов
                            p
                        div(class='reviews-item__destination')
                            | ЮФУ, Мехмат
                        div(class='reviews-item__years')
                            p Год обучения:
                                span 2018-2019
                    div(class='reviews-item__text-container')
                        div(class='reviews-item__text scroll-container')
                            p
                            p
                                | Хочу выразить свою благодарность компании "Репетитор Дона", а в частности Ермакову Владимиру
                                | Сергеевичу за тот уровень, который был мной с успехом взят. Системный подход, подробный разбор
                                | материала и уйма времени, выделанная на то, чтобы мы устранили все свои пробелы в знаниях и перестали
                                | косячить на ровном месте)&nbsp;Я особо и не рассчитывал, что смогу за 9 месяцев подготовиться к
                                | сложнейшему предмету - профильной математике на 86 баллов. Спасибо еще раз.
                            p
                    div(class='reviews-item__video')
                        iframe(width='560' height='315' src='https://www.youtube.com/embed/1HS7aNe2QXc' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                li(class='reviews__item reviews-item')
                    div(class='reviews-item__information')
                        div(class='reviews-item__photo')
                            img(src='images/reviews/preview_27._Kirichenko_Anton__3_.png' alt='' class='reviews-item__photo--img')
                        p(class='reviews-item__name') Кириченко Антон
                        div(class='reviews-item__ege-results')
                            p ЕГЭ по информатике: 94 балла
                            p ЕГЭ по математике: 88 баллов
                            p
                        div(class='reviews-item__destination')
                            | ЮФУ, Мехмат
                        div(class='reviews-item__years')
                            p Год обучения:
                                span 2018-2019
                    div(class='reviews-item__text-container')
                        div(class='reviews-item__text scroll-container')
                            p
                            p
                                | Хочется сказать огромное спасибо лучшему преподавателю математики -Ермакову Владимиру Сергеевичу, за
                                | те знания ,которые он мне дал и за те навыки, которые Владимир Сергеевич помог мне приобрести за этот
                                | год. Владимир Сергеевич научил меня двум очень важным вещам: бороться до конца и никогда не сдаваться.
                                | Когда я только начинал готовиться, я думал: "ну хотя бы 78-80 и нормально", но Владимир Сергеевич дал
                                | надежду на больший балл и как итог - 88 баллов. Каждый заработанный балл на экзамене - это заслуга
                                | Владимира Сергеевича,который всегда объяснял материал очень подробно, пока я не пойму. На занятиях
                                | всегда была благоприятная атмосфера, даже уходить домой не очень и хотелось)И даже несмотря на то,что
                                | 11 класс считается самым сложным и неприятным из-за ЕГЭ, то для меня это был одним из самый лучших за
                                | всю учебу в школе именно благодаря дружеской атмосфере на занятиях и во всем РД в целом.
                            p
                li(class='reviews__item reviews-item')
                    div(class='reviews-item__information')
                        div(class='reviews-item__photo')
                            img(src='images/reviews/123.jpg' alt='' class='reviews-item__photo--img')
                        p(class='reviews-item__name') Гладких Алена
                        div(class='reviews-item__ege-results')
                            p ЕГЭ по математике: 82 балла.
                        div(class='reviews-item__destination')
                            | РГУПС, факультет управление процессами перевозок
                        div(class='reviews-item__years')
                            p Год обучения:
                                span 2018-2019
                    div(class='reviews-item__text-container')
                        div(class='reviews-item__text scroll-container')
                            p
                            p Хочу выразить преогромную благодарность моему учителю по математике,Алексею Владимировичу!
                            p
                                | За 9 месяцев он вытянул меня на мои 82 балла,которые я получила на экзамене(я думала,что о таких
                                | баллах можно мне только мечтать...).Занятия с Алексеем Владимировичем самые веселые,продуктивные и
                                | запоминающиеся! Мой преподаватель не только учил и восполнял пробелы в знаниях,но и был другом,с
                                | которым можно посмеяться,обсудить все,что угодно!
                            p
                                | Безумно грустно от мысли,что больше я не буду посещать «Репетитор Дона»,который стал вторым домом,без
                                | преувеличений...
                                br
                                | Многие уходили в последний день занятий со слезами на глазах...&nbsp;
                            p
                                br
                                | Алексей Владимирович,спасибо за поддержку,терпение,веселье,за вашу мудрость,за то,что всегда верите в
                                | своих учеников, и,конечно,за знания и результат,которые я приобрела! Вы навсегда останетесь в моем
                                | сердечке!
                            p
                                br
                                | Не задумываясь, я всем посоветую ходить на занятия именно к Алексею Владимировичу,который вас примет с
                                | теплом. Ребятам самое главное-быть упорными,делать дз,писать контрольные вовремя(это пойдёт вам же на
                                | пользу!!!),выжимать из себя максимум и стараться не расстраивать нашего учителя,мы за него горой!!!:)
                                | ❤ ❤ ❤&nbsp;
                            p
            ul#tab2018(class='reviews__list slider-track')
                li(class='reviews__item reviews-item')
                    div(class='reviews-item__information')
                        div(class='reviews-item__photo')
                            img(src='/netcat_files/4/4/preview_00110.MTS_000019320.png' alt='' class='reviews-item__photo--img')
                        p(class='reviews-item__name') Мама Бойко Полины, Александра и Анастасии
                        div(class='reviews-item__ege-results')
                            p Полина
                            p ЕГЭ по информатике: 91&nbsp;баллов
                            p ЕГЭ по математике: 86&nbsp;балла
                            p Александр
                            p ЕГЭ по информатике: 97 баллов
                            p ЕГЭ по математике: 82 балла
                            p Анастасия
                            p ЕГЭ по информатике: 84 балла
                                br
                                | ЕГЭ по математике: 78 баллов
                        div(class='reviews-item__destination')
                            | ЮФУ, Мехмат, Фундаментальная математика и информационные технологии
                        div(class='reviews-item__years')
                            p Год обучения:
                                span 2014-2015; 2017-2018
                    div(class='reviews-item__text-container')
                    div(class='reviews-item__video')
                        iframe(width='560' height='315' src='https://www.youtube.com/embed/3o_D9CKGUjY' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                li(class='reviews__item reviews-item')
                    div(class='reviews-item__information')
                        div(class='reviews-item__photo')
                            img(src='/netcat_files/4/4/preview_Luk_yanov_Egor.jpg' alt='' class='reviews-item__photo--img')
                        p(class='reviews-item__name') Лукьянов Егор
                        div(class='reviews-item__ege-results')
                            p ЕГЭ по информатике: 91 балл
                            p ЕГЭ по математике: 88 баллов
                        div(class='reviews-item__destination')
                            | МГУ, ВМК, бюджет
                        div(class='reviews-item__years')
                            p Год обучения:
                                span 2017-2018
                    div(class='reviews-item__text-container')
                        div(class='reviews-item__text scroll-container')
                            p
                                | Я хотел бы выразить огромную благодарность Абрамовичу Михаилу Валерьевичу за прекрасную подготовку к
                                | ЕГЭ и олимпиадам по математике и информатике. Благодаря ему я стал победителем олимпиады по
                                | информатике 1 уровня (что дало мне БВИ в МГУ на ВМК) и призёром трех олимпиад 2 уровня и региона по
                                | математике. Без Михаила Валерьевича я бы не мог и мечтать о том, чтобы даже просто подать на конкурс в
                                | МГУ (особенно на ВМК), а так я прошёл туда БВИ! Кроме того, я набрал весьма неплохие баллы по ЕГЭ (91
                                | по информатике и 88 по математике). Михаил Валерьевич, огромное Вам спасибо!
                    div(class='reviews-item__video')
                        iframe(width='560' height='315' src='https://www.youtube.com/embed/dQhRr5v659s' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                li(class='reviews__item reviews-item')
                    div(class='reviews-item__information')
                        div(class='reviews-item__photo')
                            img(src='/netcat_files/4/4/preview_Kobzar__1.jpg' alt='' class='reviews-item__photo--img')
                        p(class='reviews-item__name') Кобзарь Дмитрий
                        div(class='reviews-item__ege-results')
                            p ЕГЭ по математике: 84 балла
                        div(class='reviews-item__destination')
                            | ЮФУ, Мехмат
                        div(class='reviews-item__years')
                            p Год обучения:
                                span 2017-2018
                    div(class='reviews-item__text-container')
                        div(class='reviews-item__text scroll-container')
                            p
                                | Очень благодарен центру "Репетитор Дона", а в особенности моему преподавателю математики - Баранцову
                                | Владимиру Юрьевичу за отличную подготовку к одному из самых сложных (лично для меня) предметов для
                                | сдачи. До того, как пришел на занятия, я ни разу не видел вариант профиля по математике, а после
                                | подготовки спокойно и уверенно решал все пройденные с Владимиром Юрьевичем задания. На самом ЕГЭ я был
                                | уверен, что решу любые вариации задач из тех, что успел пройти на допах. Как ни странно, так всё и
                                | получилось и заветные 84 балла были получены! Даже школьные учителя были удивлены, что какой-то там я
                                | набрал самый высокий балл в школе по такому предмету, за что ещё раз выражаю благодарность Репетитору
                                | Дона! Поступил в ЮФУ на ФИИТ без каких-либо проблем.
                                br
                                | Сами же занятия в группах оставили только приятные впечатления! Никогда бы не подумал, что буду с
                                | удовольствием проводить столько времени в репетиторстве. Во многом этому способствовала приятная
                                | атмосфера, доброжелательные менеджеры, отличная компания, конечно же сам репетитор и, что немаловажно,
                                | наличие кулера с горячей водой(!). Советую всем, кто сомневается в своих знаниях пройти подготовку в
                                | Репетиторе Дона)
                li(class='reviews__item reviews-item')
                    div(class='reviews-item__information')
                        div(class='reviews-item__photo')
                            img(src='/netcat_files/4/4/preview_Pyatakov_Roman.jpg' alt='' class='reviews-item__photo--img')
                        p(class='reviews-item__name') Пятаков Роман
                        div(class='reviews-item__ege-results')
                            p ЕГЭ по информатике: 100 баллов
                            p ЕГЭ по математике: 84 балла
                        div(class='reviews-item__destination')
                            | Высшая Школа Экономики (ФКН)
                        div(class='reviews-item__years')
                            p Год обучения:
                                span 2017-2018
                    div(class='reviews-item__text-container')
                        div(class='reviews-item__text scroll-container')
                            p Хотелось бы выразить огромную благодарность компании "Репетитор Дона" и в частности&nbsp;
                                br
                                | репетитору по математике и информатике Абрамовичу Михаилу&nbsp;
                                br
                                | Валерьевичу. Начал заниматься у него информатикой с октября и математикой с&nbsp;
                                br
                                | ноября 2017 года. Занятия проходили в приятной, дружелюбной обстановке и были довольно продуктивными.
                                | Раньше пределом моих мечтаний было поступление в ЮФУ, но навыки, приобретенные на уроках Михаила
                                | Валерьевича,&nbsp;
                                br
                                | помогли мне стать призером олимпиады 1 уровня по информатике, что обеспечило поступление&nbsp;
                                br
                                | Без Вступительных Испытаний (БВИ) на ФКН Высшей школы экономики.&nbsp;
                                br
                                | ЕГЭ 2018:&nbsp;
                                br
                                | математика 84 балла;&nbsp;
                                br
                                | информатика 100 баллов;&nbsp;
                                br
                                | Еще раз, огромное спасибо, вам, Михаил Валерьевич. Для своих учеников вы больше, чем учитель.
                    div(class='reviews-item__video')
                        iframe(width='560' height='315' src='https://www.youtube.com/embed/dQhRr5v659s' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                li(class='reviews__item reviews-item')
                    div(class='reviews-item__information')
                        div(class='reviews-item__photo')
                            img(src='/netcat_files/4/4/preview_mama_Marii_Generalovoy1.jpg' alt='' class='reviews-item__photo--img')
                        p(class='reviews-item__name') Мама Генераловой Марии
                        div(class='reviews-item__ege-results')
                            p ЕГЭ по математике: 84 балла
                            p ЕГЭ по информатике: 83 балла
                        div(class='reviews-item__destination')
                            | ЮФУ, Мехмат, Фундаментальная математика и информационные технологии
                        div(class='reviews-item__years')
                            p Год обучения:
                                span 2017-2018
                    div(class='reviews-item__text-container')
                        div(class='reviews-item__text scroll-container')
                            p
                                | Надежда Александровна,&nbsp;спасибо большое за подготовку Маши! Хорошо, что при выборе репетитора я
                                | остановилась на вашем заведении. Мария сложноваты ребёнок, но вы нашли подход! Благодарю за подготовку
                                | к ЕГЭ на должном уровне! То что она не успела пройти произошло исключительно по ее собственной вине.
                                | Результат мог бы быть лучше, но опять же все было в ее руках! Слава богу, что она поступила туда, куда
                                | хотела и что нас с мужем особенно радует на бюджет! От души благодарю! Спасибо!
                li(class='reviews__item reviews-item')
                    div(class='reviews-item__information')
                        div(class='reviews-item__photo')
                            img(src='/netcat_files/4/4/preview_Palanduzyan_Elizaveta.jpg' alt='' class='reviews-item__photo--img')
                        p(class='reviews-item__name') Паландузян Елизавета
                        div(class='reviews-item__ege-results')
                            p ЕГЭ по математике: 86 баллов
                        div(class='reviews-item__destination')
                            | ЮФУ, Архитектура
                        div(class='reviews-item__years')
                            p Год обучения:
                                span 2017-2018
                    div(class='reviews-item__text-container')
                        div(class='reviews-item__text scroll-container')
                            p
                                | Хотелось бы выразить огромную благодарность преподавателю по математике из Репетитора Дона Ермакову
                                | Владимиру Сергеевичу.
                            p
                                | Особенно отмечу умение Владимира Сергеевича разглядеть сильные стороны каждого ученика и в обучении
                                | сделать упор именно на них. За 8 месяцем именно благодаря особому подходу в обучении мне удалось
                                | пройти почти весь материал, очень хорошо настроиться на экзамен и получить 86 баллов.
                            p
                                | Владимир Сергеевич всегда объяснял доходчиво и до последнего, пока ученик не поймет материал на 100%,
                                | придумывал различные интересные, смешные и очень запоминающиеся объяснения задач, например знаменитое
                                | среди его учеников "правило бутерброда", он отлично знает свое дело и предмет, который преподает,
                                | всегда может по желанию ученика выйти за пределы школьной программы. Так же Владимир Сергеевич помог
                                | пройти не только школьный, но и олимпиадный материал, благодаря чему, мне представилась возможность
                                | поучаствовать в олимпиадах по математике, о чем раньше я и думать не могла. Но ничего не сравнится с
                                | потрясающе дружеской и веселой атмосферой на уроках, настолько затягивающей, что уходить с уроков
                                | просто не хотелось. Владимир Сергеевич всегда мог найти подход к ученику, к кому-то обращаясь весело,
                                | с подколами, к кому-то серьезно, в зависимости от характера ученика. Именно поэтому могу с
                                | уверенностью сказать, что его полюбили абсолютно все его ученики.
                                br
                                | Спасибо большое Репетитору Дона! И самое главное! Огромнейшее спасибо Владимиру Сергеевичу! Для меня -
                                | лучший учитель из всех, кто у меня когда либо был!!!!
                    div(class='reviews-item__video')
                        iframe(width='560' height='315' src='https://www.youtube.com/embed/nYH9sb2COaI' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            div(class='slider__buttons')
                button(class='slider__button slider__button--left' aria-label='кнопка слайдера влево')
                button(class='slider__button slider__button--right' aria-label='кнопка слайдера вправо')
