section#teachers.teachers
    div(class='teachers__wrapper wrapper')
        h2(class='teachers__title') Преподаватели
            span(class='teachers__title--green') "Репетитор Дона"
        div(class='teachers__slider slider')
            ul(class='teachers__list slider-track')
                li(class='teachers__item')
                    img(src='images/teachers/preview_DSC_7246.jpg' alt='' class='teachers__photo')
                    p(class='teachers__name') Полуян Екатерина Вячеславовна
                    a(href='#' date='teac25' class='teachers__button-to-more-about') Подробнее о преподавателе
                li(class='teachers__item')
                    img(src='images/teachers/preview_RYA_9650.jpg' alt='' class='teachers__photo')
                    p(class='teachers__name') Баранцов Владимир Юрьевич
                    a(href='#' date='teac1' class='teachers__button-to-more-about') Подробнее о преподавателе
                li(class='teachers__item')
                    img(src='images/teachers/preview_1_3.jpg' alt='' class='teachers__photo')
                    p(class='teachers__name') Ляликова Елена Реомировна
                    a(href='#' date='teac21' class='teachers__button-to-more-about') Подробнее о преподавателе
                li(class='teachers__item')
                    img(src='images/teachers/preview_1.jpg' alt='' class='teachers__photo')
                    p(class='teachers__name') Ермаков Владимир Сергеевич
                    a(href='#' date='teac7' class='teachers__button-to-more-about') Подробнее о преподавателе
                li(class='teachers__item')
                    img(src='images/teachers/preview_1_2.jpg' alt='' class='teachers__photo')
                    p(class='teachers__name') Макаров Сергей Сергеевич
                    a(href='#' date='teac18' class='teachers__button-to-more-about') Подробнее о преподавателе
                li(class='teachers__item')
                    img(src='images/teachers/preview_DSC_2461.jpg' alt='' class='teachers__photo')
                    p(class='teachers__name') Осипов Алексей Владимирович
                    a(href='#' date='teac11' class='teachers__button-to-more-about') Подробнее о преподавателе
                li(class='teachers__item')
                    img(src='images/teachers/preview_6_0.jpg' alt='' class='teachers__photo')
                    p(class='teachers__name') Абрамович Михаил Валерьевич
                    a(href='#' date='teac8' class='teachers__button-to-more-about') Подробнее о преподавателе
            button(class='slider__button slider__button--left' aria-label='Кнопка карусель влево')
            button(class='slider__button slider__button--right' aria-label='Кнопка карусель вправо')
        article#teac25(class='teachers__information teacher-information')
            h3.visually-hidden Подробнее о преподавателе
            div(class='teacher-information__wrapper')
                section(class='teacher-item__short-information short-information')
                    img(src='images/teachers/preview_DSC_7246.jpg' alt='' class='teacher-item__photo')
                    h3(class='short-information__name') Полуян Екатерина Вячеславовна
                    div(class='short-information__information')
                        div(class='short-information__subject')
                            span Математика
                        div(class='short-information__education')
                            | Образование: РГПИ
                            br
                            | Опыт работы: 22 лет
                    button(class='short-information__button-witch-video') Посмотреть видео
                section(class='teachers__detailed-information detailed-information')
                    h3(class='detailed-information__name') Полуян Екатерина Вячеславовна
                    p Преподаватель математики. Окончила РГПИ , учитель математики и информатики (диплом 1996 г.)
                    ul
                        li &nbsp;Подготовка к ЕГЭ по математике (профильный&nbsp;уровень)
                    p(class='detailed-information__location')
                        strong Район проведения занятий:
                        span Западный
                    p(class='detailed-information__price')
                        strong Стоимость занятий:
                        span 1300р. от 120 минут - занятие может быть дольше без  доплаты.
                    div(class='detailed-information__achievements')
                        p Максимальный балл её ученика в 2020 году —&nbsp;
                            strong
                                span(style='color:#FF0000;') 88
                            | .
                    a(class='detailed-information__link detailed-information__link--to-more-about' href='#/otzyvy-i-rezultaty/?teacherID=25')
                        | Подробнее о
                        | преподавателе
                    a(class='detailed-information__link detailed-information__link--to-reviews' href='/prepodavateli-i-stoimost/prepodavateli-i-stoimost_25.html') Отзывы учеников
        article#teac1(class='teachers__information teacher-information')
            h3.visually-hidden Подробнее о преподавателе
            div(class='teacher-information__wrapper')
                section(class='teacher-item__short-information short-information')
                    img(src='images/teachers/preview_RYA_9650.jpg' alt='' class='teacher-item__photo')
                    h3(class='short-information__name') Баранцов Владимир Юрьевич
                    div(class='short-information__information')
                        div(class='short-information__subject')
                            span Информатика
                        div(class='short-information__education')
                            | Образование: ЮФУ
                            br
                            | Опыт работы: 9 лет
                    button(class='short-information__button-witch-video') Посмотреть видео
                section(class='teachers__detailed-information detailed-information')
                    h3(class='detailed-information__name') Баранцов Владимир Юрьевич
                    p Преподаватель информатики.
                        br
                        | Окончил ФВТ ЮФУ.
                    ul
                        li Подготовка к ЕГЭ и ОГЭ по информатике (любой уровень)
                        li Подготовка к вузовским олимпиадам.
                    p(class='detailed-information__location')
                        strong Район проведения занятий:
                        span Центр (Красноармейская/Соколова), Западный
                    p(class='detailed-information__price')
                        strong Стоимость занятий:
                        span 1600 руб. за занятие от 150 минут - занятие может быть дольше без  доплаты.
                    div(class='detailed-information__achievements')
                        p В 2020 году 4 ученика Владимира Юрьевича написали ЕГЭ по информатике на
                            span(style='color:#FF0000;')
                                strong 100 баллов
                            | !
                        p
                            span(style='color:#FF0000;') Средний балл
                            | его учеников —&nbsp;
                            span(style='color:#FF0000;') 92!
                        p Максимальный балл учеников по математике –
                            em 98
                            | ,
                            br
                            | по физике —
                            em 98
                            | , по информатике —
                            em 100.
                    a(class='detailed-information__link detailed-information__link--to-more-about' href='#/otzyvy-i-rezultaty/?teacherID=1')
                        | Подробнее о
                        | преподавателе
                    a(class='detailed-information__link detailed-information__link--to-reviews' href='/prepodavateli-i-stoimost/prepodavateli-i-stoimost_1.html') Отзывы учеников
        article#teac21(class='teachers__information teacher-information')
            h3.visually-hidden Подробнее о преподавателе
            div(class='teacher-information__wrapper')
                section(class='teacher-item__short-information short-information')
                    img(src='images/teachers/preview_1_3.jpg' alt='' class='teacher-item__photo')
                    h3(class='short-information__name') Ляликова Елена Реомировна
                    div(class='short-information__information')
                        div(class='short-information__subject')
                            span Математика
                        div(class='short-information__education')
                            | Образование: РГУ (ЮФУ)
                            br
                            | Опыт работы: 19 лет
                    button(class='short-information__button-witch-video') Посмотреть видео
                section(class='teachers__detailed-information detailed-information')
                    h3(class='detailed-information__name') Ляликова Елена Реомировна
                    p
                        | Преподаватель математики. Окончила факультет математики, механики и компьютерных наук РГУ(ЮФУ) (диплом
                        | 1994г.). Кандидат физико-математических наук, доцент.
                    ul
                        li Подготовка к ЕГЭ по математике &nbsp;(профильный уровень)
                        li
                            | Прошла курсы по программе "Методика работы предметных комиссий по проверке ответов ЕГЭ и ГИА-9 по
                            | математике".
                        li Преподаватель механико-математического факультета ЮФУ.
                    p(class='detailed-information__location')
                        strong Район проведения занятий:
                        span Центр (Красноармейская/Соколова)
                    p(class='detailed-information__price')
                        strong Стоимость занятий:
                        span 1300 р. от 120 минут - занятие может быть дольше без  доплаты.
                    div(class='detailed-information__achievements')
                        p Максимальный
                            span(style='color:#FF0000;') прирост баллов
                            | её учеников в 2020 году —&nbsp;
                            strong
                                span(style='color:#FF0000;') 67
                            | .
                    a(class='detailed-information__link detailed-information__link--to-more-about' href='#/otzyvy-i-rezultaty/?teacherID=21')
                        | Подробнее о
                        | преподавателе
                    a(class='detailed-information__link detailed-information__link--to-reviews' href='/prepodavateli-i-stoimost/prepodavateli-i-stoimost_21.html') Отзывы учеников
        article#teac7(class='teachers__information teacher-information')
            h3.visually-hidden Подробнее о преподавателе
            div(class='teacher-information__wrapper')
                section(class='teacher-item__short-information short-information')
                    img(src='images/teachers/preview_1.jpg' alt='' class='teacher-item__photo')
                    h3(class='short-information__name') Ермаков Владимир Сергеевич
                    div(class='short-information__information')
                        div(class='short-information__subject')
                            span Математика
                        div(class='short-information__education')
                            | Образование: ЮФУ
                            br
                            | Опыт работы: 8 лет
                    button(class='short-information__button-witch-video') Посмотреть видео
                section(class='teachers__detailed-information detailed-information')
                    h3(class='detailed-information__name') Ермаков Владимир Сергеевич
                    p
                        | Преподаватель математики. Окончил факультет математики, механики и компьютерных наук ЮФУ (диплом 2013г.).
                        | Аспирант ЮФУ.
                    ul
                        li Подготовка к ЕГЭ по математике (профильный повышенный уровень)
                        li Подготовка к олимпиадам&nbsp;
                        li Подготовка к ОГЭ по математике (повышенный уровень)
                    p(class='detailed-information__location')
                        strong Район проведения занятий:
                        span Центр (Красноармейская/Соколова), Северный (Квадро)
                    p(class='detailed-information__price')
                        strong Стоимость занятий:
                        span 1500 р. за занятие от 180 минут - занятие может быть дольше без  доплаты.
                    div(class='detailed-information__achievements')
                        p Максимальный балл его ученика в 2019 году на ЕГЭ по математике —&nbsp;
                            span(style='color:#FF0000;')
                                strong 100
                            | баллов,
                            span(style='color:#FF0000;') 26
                            | учеников набрали
                            span(style='color:#FF0000;') 80
                            | баллов и выше.
                    a(class='detailed-information__link detailed-information__link--to-more-about' href='#/otzyvy-i-rezultaty/?teacherID=7')
                        | Подробнее о
                        | преподавателе
                    a(class='detailed-information__link detailed-information__link--to-reviews' href='/prepodavateli-i-stoimost/prepodavateli-i-stoimost_7.html') Отзывы учеников
        article#teac18(class='teachers__information teacher-information')
            h3.visually-hidden Подробнее о преподавателе
            div(class='teacher-information__wrapper')
                section(class='teacher-item__short-information short-information')
                    img(src='images/teachers/preview_1_2.jpg' alt='' class='teacher-item__photo')
                    h3(class='short-information__name') Макаров Сергей Сергеевич
                    div(class='short-information__information')
                        div(class='short-information__subject')
                            span Математика
                            span Информатика
                        div(class='short-information__education')
                            | Образование: ЮФУ
                            br
                            | Опыт работы: 5 лет
                    button(class='short-information__button-witch-video') Посмотреть видео
                section(class='teachers__detailed-information detailed-information')
                    h3(class='detailed-information__name') Макаров Сергей Сергеевич
                    p
                        | Преподаватель математики и информатики. В 2012 году окончил ЮФУ, мехмат. В 2015 году защитил кандидатскую
                        | диссертацию по физико-математическим наукам. Работал на кафедре теории упругости ИММиКН имени И.И.
                        | Воровича ЮФУ. Преподавал в воскресной школы при мехмате ЮФУ.
                    ul
                        li Подготовка к ЕГЭ по математике (профильный уровень).
                        li Подготовка к ОГЭ по информатике (любой уровень).
                    p(class='detailed-information__location')
                        strong Район проведения занятий:
                        span Центр (Красноармейская/Соколова)
                    p(class='detailed-information__price')
                        strong Стоимость занятий:
                        span 1300 р./ от 120 минут - занятие может быть дольше без  доплаты.
                    div(class='detailed-information__achievements')
                        p В 2020 году 70% его учеников набрали
                            span(style='color:#FF0000;')
                                strong более 70
                            | баллов на ЕГЭ.
                    a(class='detailed-information__link detailed-information__link--to-more-about' href='#/otzyvy-i-rezultaty/?teacherID=18')
                        | Подробнее о
                        | преподавателе
                    a(class='detailed-information__link detailed-information__link--to-reviews' href='/prepodavateli-i-stoimost/prepodavateli-i-stoimost_18.html') Отзывы учеников
        article#teac11(class='teachers__information teacher-information')
            h3.visually-hidden Подробнее о преподавателе
            div(class='teacher-information__wrapper')
                section(class='teacher-item__short-information short-information')
                    img(src='images/teachers/preview_DSC_2461.jpg' alt='' class='teacher-item__photo')
                    h3(class='short-information__name') Осипов Алексей Владимирович
                    div(class='short-information__information')
                        div(class='short-information__subject')
                            span Математика
                        div(class='short-information__education')
                            | Образование: ДГТУ
                            br
                            | Опыт работы: 7 лет
                    button(class='short-information__button-witch-video') Посмотреть видео
                section(class='teachers__detailed-information detailed-information')
                    h3(class='detailed-information__name') Осипов Алексей Владимирович
                    p
                        | Преподаватель математики.&nbsp;Окончил ДГТУ, прикладная математика (диплом 2010г.). Кандидат технических
                        | наук (2013г.).
                    ul
                        li Подготовка к ЕГЭ по математике &nbsp;&nbsp;(профильный уровень)
                    p(class='detailed-information__location')
                        strong Район проведения занятий:
                        span Западный, Центр (Красноармейская/Соколова)
                    p(class='detailed-information__price')
                        strong Стоимость занятий:
                        span 1600 р. за занятие от 180 минут - занятие может быть дольше без  доплаты.
                    div(class='detailed-information__achievements')
                        p В 2020&nbsp;году средняя прибавка к начальному результату ЕГЭ по математике&nbsp; —
                            span(style='color:#008000;')
                                strong 53
                            | &nbsp;балла&nbsp;, максимальный прирост —
                            strong
                                span(style='color:#008000;') 77
                            | баллов!
                    a(class='detailed-information__link detailed-information__link--to-more-about' href='#/otzyvy-i-rezultaty/?teacherID=11')
                        | Подробнее о
                        | преподавателе
                    a(class='detailed-information__link detailed-information__link--to-reviews' href='/prepodavateli-i-stoimost/prepodavateli-i-stoimost_11.html') Отзывы учеников
        article#teac8(class='teachers__information teacher-information')
            h3.visually-hidden Подробнее о преподавателе
            div(class='teacher-information__wrapper')
                section(class='teacher-item__short-information short-information')
                    img(src='images/teachers/preview_6_0.jpg' alt='' class='teacher-item__photo')
                    h3(class='short-information__name') Абрамович Михаил Валерьевич
                    div(class='short-information__information')
                        div(class='short-information__subject')
                            span Математика
                            span Информатика
                        div(class='short-information__education')
                            | Образование: ЮФУ
                            br
                            | Опыт работы: 8 лет
                    button(class='short-information__button-witch-video') Посмотреть видео
                section(class='teachers__detailed-information detailed-information')
                    h3(class='detailed-information__name') Абрамович Михаил Валерьевич
                    p
                        | Преподаватель математики и информатики.&nbsp;Окончил факультет математики, механики и компьютерных наук
                        | ЮФУ (диплом 2012г.). Аспирант ЮФУ.
                    ul
                        li Подготовка к ЕГЭ и ОГЭ по математике (профильный повышенный уровень)
                        li Подготовка к ЕГЭ и ОГЭ по информатике (любой уровень)
                        li Подготовка к олимпиадам&nbsp;
                    p(class='detailed-information__location')
                        strong Район проведения занятий:
                        span Центр (Красноармейская/Соколова), Западный
                    p(class='detailed-information__price')
                        strong Стоимость занятий:
                        span 1600/1500 р. за занятие от 180 минут - занятие может быть дольше без  доплаты. Преподаватель сам определяет, кому давать скидку.
                    div(class='detailed-information__achievements')
                        p В 2020 году 34 ученика Михаила Валерьевича получили
                            strong
                                span(style='color:#00cc33;') 100
                            span(style='color:#008000;')
                            | дипломов призеров и
                            | победителей олимпиад: Физтех, ИТМО, Курчатов, ОММО, Ломоносов, ПВГ, Высшая проба, Олимпиада СПБГУ и
                            | др.
                            br
                            | В 2020 году 2 его ученика по математике и 4 по информатике сдали ЕГЭ на
                            strong
                                span(style='color:#FF0000;') 100
                            | баллов.
                    a(class='detailed-information__link detailed-information__link--to-more-about' href='#/otzyvy-i-rezultaty/?teacherID=8')
                        | Подробнее о
                        | преподавателе
                    a(class='detailed-information__link detailed-information__link--to-reviews' href='/prepodavateli-i-stoimost/prepodavateli-i-stoimost_8.html') Отзывы учеников
