section#whyAreWe.why-are-we
    h2(class='why-are-we__title')
        | Почему ученики и их родители
        strong(class='why-are-we__title--red') выбирают нас
    div(class='why-are-we__container')
        ul(class='why-are-we__list infinity-slider')
            li(class='why-are-we__item infinity-slider__item')
                p
                    strong МЕТОДИКА, ПРОВЕРЕННАЯ ГОДАМИ И СОТНЯМИ УЧЕНИКОВ.
                p
                    span(style='font-size:12px;') Мы разработали авторскую методику подготовки, в которой выверен каждый шаг. За 5 лет работы мы подготовили 38 человек на баллы 90 и выше, 140 человек - 80 и выше, 207 человек набрали 75 и выше, 301 написали ЕГЭ по математике на 70 и выше.
            li(class='why-are-we__item infinity-slider__item')
                p
                    b 250 УЧЕНИКОВ В 2019 Г ПОСТУПИЛИ!
                    span За прошлый год в центре Репетитор Дона подготовили 250 выпускников, которые поступили в ВУЗы Москвы и Ростова-на-Дону: МГУ, МФТИ, ВШЭ, МГТУ им. Баумана, ИТМО, ЮФУ, РСИ, РТА, РИЖТ и т.д.
            li(class='why-are-we__item infinity-slider__item')
                p
                    b СРЕДНИЙ БАЛЛ ПО МАТЕМАТИКЕ В РЕПЕТИТОР ДОНА В 2019 ГОДУ 75,7
                p Для сравнения средний балл по Ростовской области равен 55,3
            li(class='why-are-we__item infinity-slider__item')
                p
                    strong ГОТОВИМ КО ВСЕМ ЗАДАНИЯМ ЕГЭ ПО МАТЕМАТИКЕ.&nbsp;
                    | Готовим полностью к первой части, а так
                    | же ко всей второй части, даже к таким сложным заданиям, как 18-21 что даёт возможность получить самый
                    | высокий балл!
            li(class='why-are-we__item infinity-slider__item')
                p
                    b ПОДГОТОВКА С ЛЮБОГО УРОВНЯ
                    | &nbsp;Мы берем учеников любого уровня и прилагаем все усилия, чтобы
                    | получить&nbsp;максимальный балл!&nbsp;
            li(class='why-are-we__item infinity-slider__item')
                p
                    b КОНТРОЛЬНЫЕ&nbsp;В ФОРМАТЕ ЕГЭ.&nbsp;&nbsp;
                    | Регулярно проводим контрольные работы в формате&nbsp;ЕГЭ
                    | вне занятий и БЕСПЛАТНО.&nbsp;На таких контрольных отрабатывается скорость&nbsp;и стратегия работы на
                    | экзамене. Стараемся создать&nbsp;условия максимально приближенные к реальным&nbsp;экзаменам.
            li(class='why-are-we__item infinity-slider__item')
                p
                    b ВСЕ ЦИФРЫ МОЖЕМ ПОДТВЕРДИТЬ!
                p Приходите к нам в офис, мы можем подтвердить каждый опубликованный балл сканом работ ученика!
            li(class='why-are-we__item infinity-slider__item')
                p
                    b ОБУЧАЕМ, А НЕ ТОЛЬКО ПРОРЕШИВАЕМ!&nbsp;
                    | Обучаем учеников математике, а не только&nbsp;прорешиваем
                    | типовые тесты. Все наши ученики&nbsp;действительно знают, как решать задания на&nbsp;экзамене.
                    br
                    | &nbsp;
            li(class='why-are-we__item infinity-slider__item')
                p
                    b ИНДИВИДУАЛЬНАЯ РАБОТА
                    | &nbsp;Работаем в группе, но с каждым учеником&nbsp;индивидуально - у каждого
                    | свой план обучения и&nbsp;скорость изучения материала, то есть вы получаете&nbsp;индивидуальные занятия по
                    | цене групповых.
            li(class='why-are-we__item infinity-slider__item')
                p
                    b УВЕЛИЧИВАЕМ ЗНАНИЯ В 2 РАЗА
                    | &nbsp;
                p
                    | Мы определяем стартовый балл ЕГЭ перед началом занятий. Наши ученики показывают значительный прирост
                    | баллов! Максимальный прирост: 78 баллов, средняя прибавка к начальному уровню - 50 баллов!
    ul(class='why-are-we__slider-indicators slider-indicators' aria-hidden='true')
