block variables

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="ie=11")
        meta(name="description", content=description)
        meta(name="keywords", content=keywords)
        title #{title}
        block head

    body(class=pageClass)

        block content

        block script
